<!doctype html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <!--  https://egghead.io/lessons/angularjs-sharing-data-between-controllers -->
    <script src="controllers.js"></script>
</head>
<body>

    <!--<input ng-model='data.message'>-->
    <!--<p>{{data.message}}</p>-->

    <div ng-controller='FirstController'>
        <input ng-model='data.message'>
        <p>{{data.message}}</p>
    </div>

    <div ng-controller='SecondController'>
        <input ng-model='data.message'>
        <p>{{data.message}}</p>
    </div>

</body>
</html>