<!DOCTYPE html>
<html>
<head>
    <title>hapi Hello World!</title>
</head>
<body>
<form>
    <input name="greeting" value="{{greeting}}">
    <p>{{greeting}}, World</p>
    <a href="/?greeting=">Clear</a>
    <input type="submit" value="Send">
</form>
</body>
</html>
                        