<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>JavaScript Web Framework Shootout</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <link rel="stylesheet" href="../reveal.js/css/reveal.min.css">
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/simple.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/sky.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/moon.css" id="theme">-->
    <link rel="stylesheet" href="../reveal.js/css/theme/night.css" id="theme">
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/solarized.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/beige.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/blood.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/default.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/serif.css" id="theme">-->


    <!-- Uncomment for presentation -->
    <style>
        pre code {
            display: block;
            padding: 0.5em;
            background: #FFFFFF;
            color: #000000;
        }
        .right-img {
            margin-left: 10px !important;
            float: right;
            height: 500px;
        }
    </style>



    <!-- Uncomment for PDF generation -->
    <!-- and add ?print-pdf to url -->
    <!--<link rel="stylesheet" href="../reveal.js/css/print/pdf.css">-->
    <!--<link rel="stylesheet" href="../reveal.js/lib/css/zenburn.css">-->

    <!--[if lt IE 9]>
    <script src="../reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

<div class="slides">
<section>
    <h2>JavaScript Web Framework Shootout</h2>

    <p>
        <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
        </small>
    </p>
    <p>Online Version: <a href="http://djcordhose.github.io/serious-javascript/slides/2015_web_frameworks_shootout.html">http://djcordhose.github.io/serious-javascript/slides/2015_web_frameworks_shootout.html</a></p>
    <p>Or: http://bit.ly/1AxgSRY</p>

</section>
    <section>
        <h2>Oliver Zeigermann</h2>
        <img src="SF-Olli.jpg" height="200" align="right">
        <ul>
            <!--<li>Freelancer: Projekte, Architektur, Coaching, Workshops-->
            <li><a target="_blank" href="http://zeigermann.eu">http://zeigermann.eu</a>
            <li><a target="_blank" href="https://twitter.com/DJCordhose">@DJCordhose</a>
            <li><a target="_blank" href="http://javatojavascript.blogspot.de/">javatojavascript.blogspot.de</a>
            <li><a target="_blank" href="https://entwickler.de/press/buecher/javascript-fuer-java-entwickler-2-119804.html">JavaScript für
            Java-Entwickler</a>

        </ul>
    </section>

<section>
    <!--
    TODO:
    - Finish summary
      - Backbone
      - Angular
      - React

     - Candidates
      - backbone: key features + sample code
    -->
    <h2>Contents</h2>
    <ol>
        <!-- 5 minutes -->
        <li class="fragment">Part I: Motivation
            <!-- 20 minutes -->
        <li class="fragment">Part II: Introduction to the Framework Candidates
            <!-- 20 minutes -->
        <li class="fragment">Part III: Evaluation
            <!-- 5 minutes -->
        <li class="fragment">Part IV: (Executive) Summary
        <!-- 5 minutes -->
        <li class="fragment">Questions and discussion
    </ol>

</section>

    <section>
        <section>
            <h2>Part I: Motivation</h2>
        </section>

        <section>
            <h2>We are not alone</h2>
            <a target="_blank" href="http://www.quora.com/I-am-Java-developer-who-wants-to-learn-JavaScript-Which-technology-Angular-jQuery-or-Node-js-is-better-to-learn-nowadays">
                http://www.quora.com/I-am-Java-developer-who-wants-to-learn-JavaScript-Which-technology-Angular-jQuery-or-Node-js-is-better-to-learn-nowadays
            </a>

        </section>

<section>
    <h2>Why client side (browser) rendering in the first place?</h2>
</section>
    <section>
        <h3>Classic Server Side Rendering (Blue: Server, Violett: Browser)</h3>
        <ul>
            <img src="Classic%20Web%20Application.png" class="right-img">
            <li class="fragment">You can render on the server and still have a fully functional Web Application
            <li class="fragment">HTML will be displayed on client
            <li class="fragment">Optionally you add a little JavaScript for some visual effects
        </ul>
        <p><small>Copyright 2015, Oliver Zeigermann</small></p>
    </section>

    <section>
        <h3>SPA Lean: Rendering and UI in Browser</h3>
        <ul>
            <img src="Application%20SPA%20Web%20Client%20BASTA%202014%20-%20Lean.jpg" class="right-img">
            <li class="fragment">Single Page Application - a single HTML pages gets loaded containing all  HTML and JavaScript
            <li class="fragment">Rendering entirely in Browser
            <li class="fragment">Best User Experience because of fast responses
        </ul>
        <p><small>Copyright 2015, Oliver Zeigermann</small></p>
    </section>

    <section>
        <h3>SPA Fat: Additional business logic in Browser</h3>
        <ul>
            <img src="Application%20SPA%20Web%20Client%20BASTA%202014%20-%20Fat.jpg" class="right-img">
            <li class="fragment">Business logic in browser allows for offline support
            <li class="fragment">Brought to an extreme no (or only occasional) online connectivity required
        </ul>
        <p><small>Copyright 2015, Oliver Zeigermann</small></p>
    </section>
    </section>

    <section>
        <section>
            <h2>Part II: Introduction to the Framework Candidates</h2>
        </section>
        <section>
            <h2>Our candidates</h2>
            <ol>
                <li class="fragment">The classic: jQuery
                <li class="fragment">Adding structure: Backbone
                <li class="fragment">Introducing Magic: Angular
                <li class="fragment">Back to simplicity: React
                <!--<li class="fragment">Closing the circle: hapi-->
            </ol>
        </section>

        <section>
            <h2>The classic: jQuery</h2>
        </section>
        <section>
            <h3>Key features</h3>
            <ul>
                <li class="fragment">Standard JavaScript library
                <li class="fragment">Found almost everywhere
                <li class="fragment">"Fixes" DOM programming
                <li class="fragment">Does not abstract from DOM, though
                <li class="fragment">Core, UI und Mobile library
                <li class="fragment">Abundance of Plugins including
                <li class="fragment">Basis for
                    <a target="_blank" href="http://getbootstrap.com/javascript/">Twitter Bootstrap</a>
            </ul>
        </section>

            <section>
        <h2>Hello World jQuery</h2>
        <pre><code class="xml" contenteditable>&lt;input id="in">
&lt;p>&lt;span id="log">&lt;/span>, World&lt;/p>
&lt;input id="btn" type="button" value="Clear">
&lt;script>
    var model;
    function setModel(value) {
        model = value;
        $("#log").html(model);
        $("#in").val(model);
    }
    $(document).ready(function () {
        $("#in").on("keyup", function (event) {
            setModel($("#in").val());
        });
        $("#btn").on("click", function () {
            setModel("");
        });
        setModel("Hello");
    });
&lt;/script></code></pre>
                        <a href="../framework-comparison/end/helloworld-jQuery.html">Run</a>
                    </section>
        <section>
            <h2>Adding structure: Backbone</h2>
        </section>
        <section>
            <h3>Key Features</h3>
            <ul>
                <li class="fragment">Previous Hype
                <li class="fragment">Builds on jQuery
                <li class="fragment">Key component is a model that works well with REST servers
                <li class="fragment">Works with all view technologies
                <li class="fragment">Evolves together with Underscore
                <li class="fragment">Marionette implements a lot of best practices, adds guidance
            </ul>
        </section>
        <section>
            <h3>Hello World Backbone/Marionette</h3>
<pre><code class="xml" contenteditable>TODO</code></pre>
            <a href="../framework-comparison/backbone/hello.html">Run</a>
        </section>
        <section>
            <h2>Introducing Magic: Angular</h2>
            <h3>aka the Visual Basic of JavaScript</h3>
        </section>
        <section>
                <h3>Key Features</h3>
        <ul>
            <li class="fragment">HTML enhanced for web apps!
            <li class="fragment">HTML extended by <em>directives</em> (=== components)
            <li class="fragment">Three Ds
                <ul>
                    <li class="fragment">Data Binding (2-way)
                    <li class="fragment">Dependency Injection
                    <li class="fragment">Directives (you can write your own directives)
                </ul>
        </ul>
    </section>

                <section>
                    <h3>Hello World AngularJS</h3>
<pre><code class="xml" contenteditable>&lt;body np-app ng-controller="HelloController as helloController">
&lt;input ng-model="helloController.greeting.text">
&lt;p>{{helloController.greeting.text}}, World!&lt;/p>
&lt;input type="button" value="Clear" ng-click="helloController.clear()">
&lt;/body></code></pre>
<pre class="fragment"><code class="javascript" contenteditable>function HelloController() {
    this.greeting = {
        text: 'Hello'
    };
}
HelloController.prototype.clear = function() {
    this.greeting.text = '';
};
</code></pre>
        <a href="../framework-comparison/end/helloWorldAngular.html">Run</a>
                </section>


        <section>
            <h2>Back to simplicity: React</h2>
        </section>
        <section>
            <h3>Key features</h3>
            <ul>
                <li class="fragment">Framework for Facebook und Instagram
                <li class="fragment">Everything is a component
                <li class="fragment">Just the V in MVC
                <li class="fragment">View component holds both view and logic
                <li class="fragment">Flux architecture guides you for complete application
                <li class="fragment">1-way data binding: changes in model automatically rerenders component
                <li class="fragment">Smart algorithm performance minimal changes to DOM => fast
                <li class="fragment">Minimal API for simplicity
                <li class="fragment">Explicit code to avoid magic
                <li class="fragment">Can render both on server and on client side
                <li class="fragment">Server side rendering also for SEO or quick first page impression
            </ul>
        </section>

                <section>
            <h3>Hello World React</h3>
<pre><code class="html" contenteditable>class HelloMessage extends React.Component {
    constructor(props) {
        super(props);
        this.state = {model: this.props.greeting};
    }
    updateModel(event) {
        this.setState({model: event.target.value});
    }
    reset() {
        this.setState({model: ""});
    }
    render() {
        return (<div>
            <input value={this.state.model} onChange={this.updateModel.bind(this)} />
            <p>{this.state.model}, World</p>
            <input type="button" value="Clear" onClick={this.reset.bind(this)} />
        </div>);
    }
}
var mountNode = document.getElementById('example');
React.render(&lt;HelloMessage greeting="Hello" />, mountNode);</code></pre>
                <a href="../framework-comparison/end/helloWorldReact.html">Run</a>
        </section>

    <!--<section>-->
        <!--<section>-->
            <!--<h2>Closing the circle: hapi</h2>-->
        <!--</section>-->
        <!--&lt;!&ndash; https://frederic-hemberger.de/talks/hapi/#/cover &ndash;&gt;-->
    <!--</section>-->
    </section>


    <section>
        <section>
            <h2>Part III: Evaluation</h2>
            <h3 class="fragment">General requirement: Create a well structured JavaScript Application</h3>
        </section>

    <section>
        <h2>Technology radar</h2>
        <div>
            <img src="techradar/tech-radar.jpg" class="right-img" style="height: 350px">
            <ol>
                <li class="fragment">Four rings
                <li class="fragment">expressing maturity of technology
                <li class="fragment">requirements have to match
                <li class="fragment">Adopt: use it
                <li class="fragment">Trial: try it out in a small project
                <li class="fragment">Asses: play with it
                <li class="fragment">Hold: no new project with it
            </ol>
        </div>
        <p style="clear: both">
            <small>http://www.thoughtworks.com/insights/blog/build-your-own-technology-radar</small>
        </p>

        <!--
        <!--
- Hold:
- Asses:
- Trial:
- Adopt: all

Unterscheiden jQuery als Basistechnologie bzw. Library, Ergänzung zu anderen Frameworks und als echte Framework-Alternative ohne anderes Framework

Zitieren aus
http://www.thoughtworks.com/insights/blog/build-your-own-technology-radar

"We firmly believe that you can't really fully assess technology unless you've used it to solve real problems, to help understand both its weaknesses and strengths"

-->
    </section>
        <section>
            <h2>ThoughtWorks JavaScript framework technology radar</h2>
            <div>
                <img src="techradar/framework-radar-thoughtworks.png" class="right-img">
                <ol>
                    <li class="fragment">jQuery (implied)
                    <li class="fragment">Backbone
                    <li class="fragment">Angular.js
                    <li class="fragment">React
                </ol>
            </div>
            <p style="clear: both">
                <small><a target="_blank" href="http://www.thoughtworks.com/radar/a-z">http://www.thoughtworks.com/radar/a-z</a></small>
            </p>
        </section>
        <!--<section>-->
            <!--<h2>If we took this seriously we would only use jQuery???</h2>-->
        <!--</section>-->

        <section data-state="radar">
            <h2>My JavaScript framework technology radar</h2>

            <div>
                <ol>
                    <li>jQuery
                    <li>Backbone/Marionette
                    <li>Angular.js
                    <li>React
                    <li>Hapi
                </ol>
                <img src="techradar/framework-radar.png" class="fragment right-img">
            </div>
            <p style="clear: both">
                <small>Done by code forked from https://github.com/bdargan/techradar</small>
            </p>
        </section>

        <!--<section>-->
            <!--<h2>All frameworks should be adopted!</h2>-->
            <!--<h3 class="fragment">Provided your requirements/context matches the framework</h3>-->
            <!--<h4 class="fragment">What requirement/context matches which framework is the topic of this section</h4>-->
        <!--</section>-->


        <!--<section>-->
            <!--<h3>Categories and Aspects of Evaluation / Requirements</h3>-->
            <!--&lt;!&ndash;-->
            <!--Teil 3: Bewertung anhand von Aspekten / Anforderungen-->

            <!-&#45;&#45; Wer soll damit Entwickeln?-->
            <!-&#45;&#45; Was soll entwickelt werden?-->
            <!-&#45;&#45; Wie lange lebt das Projekt?-->
            <!-&#45;&#45; Wie komplex sind die Interaktion von Teilen der App?-->
            <!-&#45;&#45; Wie dynamisch ist die App?-->
    <!--&ndash;&gt;-->

            <!--&lt;!&ndash;-->
                            <!--Flux Architektur Kompatibel?-->
                            <!--Einsatzbereich-->
                            <!--Abstraktheit-->
                            <!--Complexity of use-->

<!--&ndash;&gt;-->

            <!--<ul>-->
                <!--<li class="fragment">What is the history of your programmers?-->
                <!--<li class="fragment">Trends and hype curves-->
                <!--<li class="fragment">What is the live cycle of the application?-->
                <!--<li class="fragment">How dynamic is the application?-->
                <!--<li class="fragment">How complex are interactions between parts of the application?-->
            <!--</ul>-->
        <!--</section>-->
        <section>
            <!--
            Backbone: Struktur für klassische Frontend-Entwickler

Es kommt darauf an aus welcher Seite man sich einer strukturierten JavaScript-App nähert
- CSS/HTML jQuery => Backbone
- Java/C# => Angular
- Ruby => EmberJS
- Andere js - frameworks => React

-->
            <h3>What is history of your programmers?</h3>
            <ul>
                <li class="fragment">CSS/HTML without jQuery
                    <ul>
                        <li class="fragment">=> jQuery
                        </li>
                    </ul>
                </li>
                <li class="fragment">CSS/HTML with jQuery
                    <ul>
                        <li class="fragment">=> Backbone/Marionette
                        </li>
                    </ul>
                </li>
                <li class="fragment">Java, C# or C++
                    <ul>
                        <li class="fragment">=> Angular
                        </li>
                    </ul>
                </li>
                <li class="fragment">JavaScript (maybe with other frameworks)
                    <ul>
                        <li class="fragment">=> React
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h3>Trends</h3>
            <img src="techradar/framework-trend-jquery.png">
            <p style="clear: both">
                <small>https://www.google.com/trends/</small>
            </p>
        </section>
        <section>
            <h3>Trends (without jQuery)</h3>
            <img src="techradar/framework-trend-no-jquery.png">
            <p style="clear: both">
                <small>https://www.google.com/trends/</small>
            </p>
        </section>

        <section>
            <h3>Hype curve</h3>
            <div>
                <img src="techradar/DiffusionOfInnovation-Frameworks.png" class="right-img" style="height: 450px">
                <ol>
                    <li>jQuery
                    <li>Backbone
                    <li>Angular
                    <li>React
                    <li>Hapi
                </ol>
            </div>

            <p style="clear: both">
                <small>Based on <a href="http://en.wikipedia.org/wiki/File:DiffusionOfInnovation.png#mediaviewer/File:DiffusionOfInnovation.png">DiffusionOfInnovation</a>". Licensed under <a href="http://creativecommons.org/licenses/by/2.5/" title="Creative Commons Attribution 2.5">CC BY 2.5</a> via <a href="//en.wikipedia.org/wiki/">Wikipedia</a>.
                from <a target="_blank" href="http://en.wikipedia.org/wiki/Technology_adoption_lifecycle">http://en.wikipedia.org/wiki/Technology_adoption_lifecycle</a></small>
            </p>
        </section>
        <section>
            <h3>Magic and Flexibility</h3>
            <div>
                <img src="techradar/magic-guiding.jpg" class="right-img" style="height: 450px">
                <ol>
                    <li>jQuery
                    <li>Backbone/Marionette
                    <li>Angular
                    <li>React
                    <li>Hapi
                </ol>
            </div>
            <p style="clear: both">
            <small>Copyright 2015, Oliver Zeigermann</small>
            </p>
        </section>
    </section>
    <section>
        <section>
            <h2>Part IV: (Executive) Summary</h2>
        </section>
        <section>
            <h3>jQuery</h3>
            <ul>
                <li class="fragment">basis for other libraries
                <li class="fragment">almost no abstraction from DOM, thus universally applicable
                <li class="fragment">application is not highly dynamic
                <li class="fragment">best when you have an existing DOM, e.g. a classic web application
                    <ul>
                        <li class="fragment">modify something (make something visible depending on a click)
                        <li class="fragment">extract data (get data from input fields and do validation, fill
                            other areas etc.)
                        <li class="fragment">It is possible to create new nodes or clone sections but then you are
                            probably already lost.
                        <li class="fragment">locate something (find a button or an input field and submit a click
                            or data - e.g. for E2E Tests)
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h3>Backbone/Marionette</h3>
            <ul>
                <li class="fragment">Previous Hype
                <li class="fragment">Opinionated about the way data models are handled
                    <ul>
                        <li class="fragment">flat data models are favored over nested
                        <li class="fragment">natural function of server is to provide a CRUD API for those models
                        <li class="fragment">a good resource explaining <a target="_blank" href="http://rocketmodule.com/blog/backbonejs-opinionated-or-why-using-nested-models-and-collections-backbone-so-hard/">http://rocketmodule.com/blog/backbonejs-opinionated-or-why-using-nested-models-and-collections-backbone-so-hard/</a>
                        <li class="fragment">if your architecture evolves in a way not intended by Backbone you might be in trouble
                    </ul>
                </li>
                <li class="fragment">Marionette makes some design decisions for you
            </ul>
        </section>
        <section>
            <h3>Angular</h3>
            <ul>
                <li class="fragment">Current Hype
                <li class="fragment">By Google
                <li class="fragment">Mildly used inside of Google
                <li class="fragment">Recent announcement of largely incompatible grand 2.0 development caused mistrust
            </ul>
        </section>
        <section>
            <h3>React</h3>
            <ul>
                <li class="fragment">Next Hype
                <li class="fragment">By Facebook
                <li class="fragment">Facebook and Instagram based on it
                <li class="fragment">Matches Flux architecture
                <li class="fragment">Works on Client and on Server
            </ul>
        </section>
    </section>

    <section>
            <h1>Thank you!</h1>

            <h3>Questions / Discussion</h3>

            <p>
                <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
                </small>
            </p>

        </section>


</div>

</div>

<script src="../reveal.js/lib/js/head.min.js"></script>
<script src="../reveal.js/js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/../reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

        // Optional libraries used to extend on ../reveal.js
        dependencies: [
            { src: '../reveal.js/lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: '../reveal.js/plugin/markdown/showdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../reveal.js/plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../reveal.js/plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: '../reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } },
            { src: '../reveal.js/plugin/notes/notes.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
            // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>
<script>
    Reveal.addEventListener( 'radar', function() {
        console.log( '"radar" has fired' );
    } );
</script>

</script>


</body>
</html>
