<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>JavaScript Web Framework Shootout</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <link rel="stylesheet" href="../reveal.js/css/reveal.min.css">
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/simple.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/sky.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/moon.css" id="theme">-->
    <link rel="stylesheet" href="../reveal.js/css/theme/night.css" id="theme">
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/solarized.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/beige.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/blood.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/default.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/serif.css" id="theme">-->


    <!-- Uncomment for presentation -->
    <style>
        pre code {
            display: block;
            padding: 0.5em;
            background: #FFFFFF;
            color: #000000;
        }
        .right-img {
            margin-left: 10px !important;
            float: right;
            height: 500px;
        }
    </style>



    <!-- Uncomment for PDF generation -->
    <!-- and add ?print-pdf to url -->
    <!--<link rel="stylesheet" href="../reveal.js/css/print/pdf.css">-->
    <!--<link rel="stylesheet" href="../reveal.js/lib/css/zenburn.css">-->

    <!--[if lt IE 9]>
    <script src="../reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

<div class="slides">

<section>
    <h1>JavaScript Web Framework Shootout</h1>

    <p>
        <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
        </small>
    </p>
    <p>Online Version: <a href="http://bit.ly/1EicQwV">http://bit.ly/1EicQwV</a></p>
</section>
        <section>
            <h2>Our candidates</h2>
            <ol>
                <li class="fragment">Classic Backend: hapi
                <li class="fragment">Frontend Classic: jQuery
                <li class="fragment">Adding structure: Backbone
                <li class="fragment">Introducing Magic: Angular
                <li class="fragment">Back to simplicity: React
            </ol>
        </section>
        <section>
            <h2>Overview</h2>
            <img src="techradar/js-frameworks.jpg" height="500px">
            <p><small>Copyright 2015, Mike North (@michaellnorth), https://twitter.com/ModernWebUI/status/575532649948790784/photo/1</small></p>
        </section>
        <section>
            <h3>Trends</h3>
            <img src="techradar/framework-trend-jquery.png">
            <p style="clear: both">
                <small>https://www.google.com/trends/</small>
            </p>
        </section>
        <section>
            <h3>Trends (without jQuery)</h3>
            <img src="techradar/framework-trend-no-jquery.png">
            <p style="clear: both">
                <small>https://www.google.com/trends/</small>
            </p>
        </section>

        <section>
            <h2>Classic Backend: hapi</h2>
            <h3>To start with something more familiar</h3>
            <ul>
                <li class="fragment">Server Side JavaScript framework
                <li class="fragment">Driven by team at Walmart
                <li class="fragment">runs on node.js / io.js
                <li class="fragment">Request/Response based
                <li class="fragment">Server side rendering using template language of your choice
            </ul>
        </section>
                <section>
            <h3>Hello World Hapi / Handlebars Template</h3>
<pre><code class="xml" contenteditable>&lt;form>
    &lt;input name="greeting" value="{{greeting}}">
    &lt;p>{{greeting}}, World&lt;/p>
    &lt;a href="/?greeting=">Clear&lt;/a>
    &lt;input type="submit" value="Send">
&lt;/form></code></pre>
<pre class="fragment"><code class="javascript" contenteditable>var server = new Hapi.Server();
server.route({
    method: 'GET',
    path: '/',
    handler: function (request, reply) {
        reply.view('index', { greeting: request.query.greeting || 'Hello' });
    }
});</code></pre>
                <a target="_blank" href="http://localhost:8080">Run: node index.js</a>
        </section>
        <section>
            <h2>Frontend Classic: jQuery</h2>
            <ul>
                <li class="fragment">Standard JavaScript library
                <li class="fragment">Found almost everywhere
                <li class="fragment">"Fixes" DOM programming
                <li class="fragment">Does not abstract from DOM, though
                <li class="fragment">best when you have an existing DOM, e.g. a classic web application
                    <ul>
                        <li class="fragment">modify something (make something visible depending on a click)
                        <li class="fragment">extract data (get data from input fields and do validation, fill
                            other areas etc.)
                        <li class="fragment">It is possible to create new nodes or clone sections but then you are
                            probably already lost.
                        <li class="fragment">locate something (find a button or an input field and submit a click
                            or data - e.g. for E2E Tests)
                    </ul>
                </li>
            </ul>
        </section>

            <section>
        <h2>Hello World jQuery</h2>
        <pre><code class="xml" contenteditable>&lt;input id="in">
&lt;p>&lt;span id="log">&lt;/span>, World&lt;/p>
&lt;input id="btn" type="button" value="Clear">
&lt;script>
    var model;
    function setModel(value) {
        model = value;
        $("#log").html(model);
        $("#in").val(model);
    }
    $(document).ready(function () {
        $("#in").on("keyup", function (event) {
            setModel($("#in").val());
        });
        $("#btn").on("click", function () {
            setModel("");
        });
        setModel("Hello");
    });
&lt;/script></code></pre>
                        <a target="_blank" href="../framework-comparison/end/helloworld-jQuery.html">Run</a>
                    </section>
        <section>
            <h2>Adding structure: Backbone</h2>
            <ul>
                <li class="fragment">Builds on jQuery and underscore
                <li class="fragment">Key component is a model
                <li class="fragment">Model interacts with RESTful servers using CRUD operations
                <li class="fragment">Views structure application
                <li class="fragment">View re-renders once model has changed
                <li class="fragment">2-way binding using Stickit
            </ul>
        </section>
        <section>
            <h3>Hello World Backbone/Marionette: Putting it together</h3>
<pre><code class="xml" contenteditable>(new HelloView({
    model: new Model(),
    el: '#example'
})).render();</code></pre>
            <a target="_blank" href="../framework-comparison/backbone/hello.html">Run</a>
        </section>
        <section>
            <h3>Hello World Backbone/Marionette: Model</h3>
<pre><code class="xml" contenteditable>var Model = Backbone.Model.extend({
    defaults: {
        greeting: 'Hello'
    }
});</code></pre>
        </section>
        <section>
            <h3>Hello World Backbone/Marionette: View</h3>
<pre><code class="xml" contenteditable>var HelloView = Marionette.ItemView.extend({
    events: {
        'click #btn': 'onBtnClick'
    },
    bindings: {
        '#in': 'greeting',
        '#out': 'greeting'
    },
    onBtnClick: function () {
        this.model.set('greeting', '');
    },
    onRender: function () {
        this.stickit(); // sets 2-way bindings
    },
    template: _.template('<input id="in"><p><span id="out"></span>, World</p>' +
                         '<input id="btn" type="button" value="Clear">')
});</code></pre>
        </section>
        <section>
            <h2>Introducing Magic: Angular</h2>
        <ul>
            <li class="fragment">Current Hype
            <li class="fragment">By Google
            <li class="fragment">HTML enhanced for web apps!
            <li class="fragment">HTML extended by <em>directives</em> (=== components)
            <li class="fragment">Three Ds
                <ul>
                    <li class="fragment">Data Binding (2-way)
                    <li class="fragment">Dependency Injection
                    <li class="fragment">Directives (you can write your own directives)
                </ul>
            </li>
            <li class="fragment">designed for good testability
            <li class="fragment">Angular is opinionated about almost everything
                <ul>
                    <li class="fragment">this can be good to give you guidance
                    <li class="fragment">this can be bad as everything now works the angular way
                    <li class="fragment">you might have to relearn
                </ul>
            </li>
        </ul>
    </section>

                <section>
                    <h3>Hello World AngularJS 1.x</h3>
<pre><code class="xml" contenteditable>&lt;body np-app ng-controller="HelloController as helloController">
&lt;input ng-model="helloController.greeting.text">
&lt;p>{{helloController.greeting.text}}, World!&lt;/p>
&lt;input type="button" value="Clear" ng-click="helloController.clear()">
&lt;/body></code></pre>
<pre class="fragment"><code class="javascript" contenteditable>function HelloController() {
    this.greeting = {
        text: 'Hello'
    };
}
HelloController.prototype.clear = function() {
    this.greeting.text = '';
};
</code></pre>
        <a target="_blank" href="../framework-comparison/end/helloWorldAngular.html">Run</a>
                </section>
        <section>
            <h2>Angular 2.x</h2>
        <ul>
            <li class="fragment">
            <a target="_blank" href="https://angular.io/">2.0 version</a> in the make
            <li class="fragment">say goodbye to two-way data binding
            <li class="fragment">say goodbye to controllers
            <li class="fragment">say goodbye to scopes
            <li class="fragment">works very well with TypeScript
        </ul>
    </section>
                <section>
                    <h3>Hello World AngularJS 2.x</h3>
<pre><code class="xml" contenteditable>@Component({
  selector: 'hello-app'
})
@Template({
inline: `&lt;input [value]="greeting" #in (keyup)="updateModel(in.value)">
  &lt;p>{{greeting}}, World&lt;/p>
  &lt;button (click)="reset(in)">Clear&lt;/button>`
})</code></pre>
<pre class="fragment"><code class="javascript" contenteditable>class HelloCmp {
  greeting: string;
  constructor() {
    this.greeting = 'Hello';
  }
  reset(input) {
    this.greeting = '';
    input.focus();
  }
  updateModel(value) {
    this.greeting = value;
  }
}</code></pre>
                </section>


        <section>
            <h2>Back to simplicity: React</h2>
            <ul>
                <li class="fragment">By Facebook
                <li class="fragment">Framework for Facebook und Instagram
                <li class="fragment">Based on components, holding both view and logic
                <li class="fragment">Templates can be written in pure JavaScript or using the JSX template language
                <li class="fragment">Reactive one-way data-binding: Changes to state will be rendered automatically
                <li class="fragment">Smart diffing algorithm computes the changes between old and new virtual DOM
                <li class="fragment">Browser DOM experiences minimal amount of updates
                <li class="fragment">Can render both on server and on client side
                <li class="fragment">React is opinionated about almost nothing
                    <ul>
                        <li class="fragment">this can be bad as there is little guidance
                        <li class="fragment">this can be good as you can reuse everything you knew before
                        <li class="fragment">React also plays very well with other libs
                    </ul>
                </li>
            </ul>
        </section>

                <section>
            <h3>Hello World React</h3>
<pre><code class="html" contenteditable>class HelloMessage extends React.Component {
    constructor(props) {
        super(props);
        this.state = {greeting: this.props.greeting};
    }
    updateModel(event) {
        this.setState({greeting: event.target.value});
    }
    reset() {
        this.setState({greeting: ""});
    }
    render() {
        return (<div>
            <input value={this.state.greeting} onChange={this.updateModel.bind(this)} />
            <p>{this.state.greeting}, World</p>
            <input type="button" value="Clear" onClick={this.reset.bind(this)} />
        </div>);
    }
}
var mountNode = document.getElementById('example');
React.render(&lt;HelloMessage greeting="Hello" />, mountNode);</code></pre>
                <a target="_blank" href="../framework-comparison/react/index.html">Run</a>
        </section>

        <section>
            <h3>Magic and Flexibility</h3>
            <div>
                <img src="techradar/magic-guiding.jpg" class="right-img" style="height: 450px">
                <ol>
                    <li class="fragment">jQuery
                    <li class="fragment">Backbone/Marionette
                    <li class="fragment">Angular
                    <li class="fragment">React
                </ol>
            </div>
            <p style="clear: both">
            <small>Copyright 2015, Oliver Zeigermann</small>
            </p>
        </section>

        <section>
            <h1>Summary</h1>
            <ul>
                <li class="fragment">Hypes come and go quickly in JavaScript land
                <li class="fragment">There is no perfect "silver bullet" framework
                <li class="fragment">What is the framework for you depends on your context und requirements
            </ul>
        </section>

    <section>
            <h1>Thank you!</h1>

            <h3>Questions / Discussion</h3>

            <p>
                <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
                </small>
            </p>

        </section>
</div>

</div>

<script src="../reveal.js/lib/js/head.min.js"></script>
<script src="../reveal.js/js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/../reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

        // Optional libraries used to extend on ../reveal.js
        dependencies: [
            { src: '../reveal.js/lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: '../reveal.js/plugin/markdown/showdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../reveal.js/plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../reveal.js/plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: '../reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } },
            { src: '../reveal.js/plugin/notes/notes.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
            // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>
<script>
    Reveal.addEventListener( 'radar', function() {
        console.log( '"radar" has fired' );
    } );
</script>


</body>
</html>
