<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Single Page Applications mit JavaScript</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <link rel="stylesheet" href="../reveal.js/css/reveal.min.css">
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/simple.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/sky.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/moon.css" id="theme">-->
    <link rel="stylesheet" href="../reveal.js/css/theme/night.css" id="theme">
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/solarized.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/beige.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/blood.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/default.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/serif.css" id="theme">-->


    <!-- Uncomment for presentation -->
    <style>
        pre code {
            display: block;
            padding: 0.5em;
            background: #FFFFFF;
            color: #000000;
        }
    </style>

    <!-- Uncomment for PDF generation -->
    <!-- and add ?print-pdf to url -->
    <!--<link rel="stylesheet" href="../reveal.js/css/print/pdf.css">-->
    <!--<link rel="stylesheet" href="../reveal.js/lib/css/zenburn.css">-->

    <!--[if lt IE 9]>
    <script src="../reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

<div class="slides">
<section>
    <h2>Single Page Applications mit JavaScript</h2>

    <p>
        <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
        </small>
    </p>
    <p>Online-Version: <a href="http://djcordhose.github.io/serious-javascript/slides/spa_basta_2014.html">http://djcordhose.github.io/serious-javascript/slides/spa_basta_2014.html</a></p>

</section>

<section>
    <img src="Twitter_2017_JavaScript.png" height="700">
</section>
<section>
    <img src="Twitter-Github-Repos-JS.png" height="500">
    <p><a target="_blank" href="http://redmonk.com/dberkholz/2014/05/02/github-language-trends-and-the-fragmenting-landscape">http://redmonk.com/dberkholz/2014/05/02/github-language-trends-and-the-fragmenting-landscape</a></p>
</section>

<section>
    <h2>Single Page Applications (SPA)</h2>
    <ul>
        <li class="fragment">Web-Anwendungen, laufen im Browser
        <li class="fragment">Nur eine einzige Seite wird an den Browser vom Server ausgeliefert
        <li class="fragment">Alle weiteren Aktionen werden von dem JavaScript kontrolliert, das mit der Seite ausgeliefert wurde
        <li class="fragment">Zugriffe auf den Server nicht zur Darstellungen, sondern zur Übertragung von Daten
        <li class="fragment">Erlaubt höchste Interaktivität und beste Reaktion auf Benutzereingaben
        <li class="fragment">Komfort vergleichbar mit Desktop-Anwendungen
        <li class="fragment">Offline-Fähigkeit
    </ul>
</section>

<section>
    <h2>Architektur einer (SPA)</h2>
    <ul>
        <li class="fragment">Server wird nur noch zur Kommunikation mit dem Client benötigt
        <li class="fragment">Client macht REST/JSON calls zum Server
        <li class="fragment">Client wird entweder komplett geladen oder in Modulen nachgeladen
        <li class="fragment">Reload, Links, Bookmarks, Forward-/Backward-Navigation über Deep-Links (#)
        <li class="fragment">Lokale und Offline-Speicherung über LocalStorage oder IndexedDB
        <li class="fragment">Kommunikation mit mehreren API-Servern über CORS möglich
    </ul>
</section>
<section>
    <h2>RESTFul Web Services</h2>
    <p>REST = Representational State Transfer</p>

</section>
<section>
    <h3>Eigenschaften</h3>
    <p class="fragment">Es gibt keine klare Definition, aber dies sind Eigenschaften, die die meisten darunter subsumieren</p>
    <ul>
        <li class="fragment">basiert auf HTTP / HTTPS
        <li class="fragment">Stateless
        <li class="fragment">Cachebar
        <li class="fragment">HTTP-Methoden PUT / GET / POST / DELETE werden für CRUD genommen
        <li class="fragment">Wenn möglich werden Aufrufparameter in der URL kodiert
        <li class="fragment">Oft URL Pfad auf eine bestimmte Ressource
        <li class="fragment">JSON bevorzugtes Format für komplexe Daten, XML geht auch
    </ul>

</section>
<section>
    <h2>Beispiel</h2>
    <p class="fragment">RESTFul Aufruf mit <code>GET</code>, z.B.</p>
    <pre class="fragment"><code class="html" contenteditable>https://mortgage-demo.appspot.com/mortgage_calculator/rs/200000/10/7.5/30</code></pre>
    <p class="fragment">Aufrufparameter sind in die URL codiert, daher gut cachebar, Service zustandslos.</p>
    <p class="fragment">Aufruf mit Pfad auf Ressource, z.B. <code>DELETE</code></p>
    <pre class="fragment"><code class="html" contenteditable>https://accounting.com/user/4711</code></pre>
</section>

<section>
    <h2>Problemstellung: Wie gehe ich mit den Komplexitäten der Browser-Entwicklung um?</h2>
</section>

<section>
    <h3>Wozu ein Framework für die Browser-Entwicklung?</h3>
    <ul>
        <li class="fragment">Es gibt immer noch eine Reihe von Browser-Unterschieden bzgl. DOM und JavaScript (insbesondere
            pre IE9)
        <li class="fragment">Das DOM ist kein "ideales" API
        <li class="fragment">Selbst idealerweise ist das DOM immer noch sehr low-level
    </ul>
</section>
<section>
    <h3>Auswahl von Frameworks, die sich als Enterprise-würdig erwiesen haben</h3>
    <ul>
        <li class="fragment">jQuery
        <li class="fragment">AngularJS
        <li class="fragment">React
        <li class="fragment">Ext.js
        <li class="fragment">Kein Framework
    </ul>
</section>

    <section>
        <h2>Zum Vergleich: Hello World ohne Framework</h2>
        <pre><code class="xml" contenteditable>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Hello World!&lt;/title&gt;
  &lt;/head&gt;
    &lt;body&gt;
      &lt;div id="log">&lt;/div>
      &lt;script&gt;
          var element = document.getElementById("log");
          element.innerHTML = "&lt;h1>Hello World&lt;/h1>";
      &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
                        </code></pre>
                        <a href="../HelloWorld/helloworld2.html">Run</a>
                    </section>

    <section>
        <h3>Option: jQuery</h3>
        <ul>
            <li class="fragment">Standard-JavaScript-Bibliothek
            <li class="fragment">Fast überall zu finden
            <li class="fragment">Adressiert Probleme bei der Programmierung des DOMs
            <li class="fragment">Abstrahiert nicht von der Ebene der DOM-Manipulation
            <!--<li class="fragment">Flexible Trennung von View und Logik-->
            <li class="fragment">Funktionalität unterteilbar in "Auswahl" und "Manipulation"
            <!--<li class="fragment">Core, UI und Mobile Bibliothek vorhanden-->
            <!--<li class="fragment">Viele Plugins vorhanden,-->
                <!--z.B. <a target="_blank" href="http://sorgalla.com/jcarousel/">jcarousel</a>-->
        </ul>
    </section>
    <section>
        <h2>Hello World jQuery</h2>
        <pre><code class="xml" contenteditable>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Hello World jQuery!&lt;/title&gt;
    &lt;body&gt;
      &lt;div id="log">&lt;/div>
      &lt;script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">&lt;/script>

      &lt;script&gt;
        $(document).ready(function(){
            $("#log").html("&lt;h1>Hello World&lt;/h1>");
        });
      &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
                        </code></pre>
                        <a href="../HelloWorld/helloworld-jQuery.html">Run</a>
                    </section>

    <section>
        <h3>Option: AngularJS</h3>
        <h4>HTML enhanced for web apps!</h4>
        <img src="angular.png">
        <p><a target="_blank" href="http://angularjs.org/">http://angularjs.org</a></p>
    </section>
    <section>
        <h3>Konzepte</h3>
        <ul>
            <li class="fragment">Client-Seitige Templates
            <li class="fragment">MVC (Modell ist eher ViewModel)
            <li class="fragment">Die drei Ds
                <ul>
                    <li class="fragment">Data Binding
                    <li class="fragment">Dependency Injection
                    <li class="fragment">Directives
                </ul>
        </ul>
    </section>

                <section>
                    <h3>Hello World AngularJS</h3>
<pre><code class="xml" contenteditable>&lt;html ng-app>
&lt;head>
    &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js">&lt;/script>
    &lt;script src="controller.js">&lt;/script>
&lt;/head>
&lt;body ng-controller="HelloController as helloController">
    &lt;input ng-model="helloController.greeting.text">
    &lt;p>{{helloController.greeting.text}}, World!&lt;/p>
    &lt;input type="button" value="Clear" ng-click="helloController.clear()">
    &lt;/body>
&lt;/html></code></pre>
<pre><code class="javascript" contenteditable>function HelloController() {
    this.greeting = {
        text: 'Hello'
    };
}
HelloController.prototype.clear = function() {
    this.greeting.text = '';
};
</code></pre>
        <a href="../HelloWorld/helloWorldAngular3.html">Run</a>
                </section>

    <section>
        <h3>Option: React</h3>
            <ul>
                <li class="fragment">Framework von Facebook und Instagram
                <li class="fragment">Nur das V in MVC
                <li class="fragment">Templates können in reinem JavaScript oder mit der Template-Sprache JSX geschrieben werden
                    <ul>
                        <li class="fragment">JSX kann "on the fly" gerendert oder
                        <li class="fragment">für Produktion nach JavaScript vorkompiliert werden
                    </ul>
                </li>
                <li class="fragment">Basiert auf Komponenten
                <li class="fragment">der View wird als "virtuelles DOM" repräsentiert
                <li class="fragment">Änderungen des Modells führen automatisch zum Neurendern von Komponenten
                <li class="fragment">Ein schlauer Algorithmus macht minimale Änderungen am eigentlich DOM => schnell
                <li class="fragment">React läuft im Browser und auf dem Server
            </ul>
        </section>

            <section>
            <h3>Hello World React</h3>
                <div>
<pre><code class="html" contenteditable>&lt;div id="example">&lt;/div>
&lt;script type="text/jsx">
/** @jsx React.DOM */
var mountNode = document.getElementById('example');
var HelloMessage = React.createClass({
  render: function() {
    return &lt;div>Hello {this.props.name}&lt;/div>;
  }
});

React.renderComponent(&lt;HelloMessage name="Olli" />, mountNode);
&lt;/script></code></pre>
                <a href="../HelloWorld/helloWorldReact.html">Run</a>
                </div>
            <ul>
                <li class="fragment"><code>React.createClass</code>: Erzeugt eine neue Komponenten-Klasse
                <li class="fragment"><code>render</code>: erzeugt das virtuelle DOM
                <li class="fragment"><code>this.props</code> / input: Parameter für die Komponentnen-Instanz
            </ul>
        </section>

    <section>
        <h3>Option: ExtJs</h3>
        <ul>
            <li class="fragment">hat alle Komponenten für eine Business-Anwendung
            <li class="fragment">folgt weniger der Web-Philosophy als der Desktop-Metapher
            <li class="fragment"><a target="_blank"
                                    href="http://www.sencha.com/blog/announcing-public-beta-of-ext-js-5/">ExtJS 5</a>
                unterstützt alle Devices
            <li class="fragment">Unterstützt weiterhin IE8
            <li class="fragment">Unterschiedliche Themes durch austauschen von CSS
            <li class="fragment">existiert seit vielen Jahren, Einsatz kommerziell
            <li class="fragment"><a target="_blank" href="http://try.sencha.com/extjs/4.1.1/community/extjs4-mvc-portal/viewer.html">Hier bekommt man einen Eindruck</a>
        </ul>
    </section>
    <section>
    <h3>Hello World ExtJS</h3>
<pre><code class="javascript" contenteditable>Ext.application({
    name: 'Hello World',

    launch: function() {
        Ext.create('Ext.container.Viewport', {
            layout: 'fit',
            items: [
                {
                    xtype: 'panel',
                    title: 'Hello World',
                    html : 'Hello!'
                }
            ]
        });
    }
});</code></pre>
    <a href="../HelloWorld/helloWorldExtjs.html">Run</a>

                    </section>

<section>
    <h3>Letzte Option: Kein Framework</h3>
    <ul>
        <li class="fragment">Selbstbetrug ausschließen: Was ist die Motivation?
        <li class="fragment">Passt wirklich keines der Frameworks zu den Anforderungen?
        <li class="fragment">Glauben wir wirklich, dass unser eigenes Framework besser sein wird als ein
            Standard-Framework?
        <li class="fragment">Wenn ja, wer in dem Team hat schon einmal ein vergleichbares Framework gebaut?
        <li class="fragment">Wer wird das Framework warten?
        <li class="fragment">Wird es ein Framework- und ein Applikations-Team geben?
    </ul>
</section>

<section>
    <h3>Wrapup</h3>
    <ul>
        <li class="fragment">Kein Framework: Hybris, gängige Frameworks passen nicht oder Anwendung ist sehr einfach
        <li class="fragment">jQuery: DOM als Abstraktion ist ausreichend, Projekt evtl. nicht sehr komplex
        <li class="fragment">Angular.js / Ember / Knockout: Sehr praktisch für SPAs und größere Projekte
        <li class="fragment">React: Höchste Anforderungen an Performanz, server-seitiges Rendering möglich, fehlende Teile evtl. über Backbone oder Flux
        <li class="fragment">Ext.js: Für Business-Anwendungen, wie man sie auch mit JSF oder JavaFX bauen würde
    </ul>
</section>

<section>
    <h1>Fragen?</h1>
</section>


    <section>
        <h2>Problemstellung: Was mache ich auf der Server-Seite?</h2>
    </section>
    <section>
        <h3>Fragestellung</h3>
        <ul>
            <li class="fragment">JavaScript im Browser ist als Zielsprache gesetzt
            <li class="fragment">Meist braucht man auch Code, der auf dem Server läuft
            <li class="fragment">Wie setzt man diesen um?
            <li class="fragment">JEE/Spring/.NET/Rails/Python?
            <li class="fragment">Oder ebenfalls in JavaScript?
        </ul>
    </section>

    <section>
        <h3>Option #1: Server in klassicher Server-Technik (JEE/Spring/.NET/Rails/Python)</h3>
        <h3 class="fragment">bzw. existierender Server bleibt wie er ist</h3>
        <ul>
            <li class="fragment">Naheliegende Lösung
            <li class="fragment">Kommunikation über REST/JSON
            <li class="fragment">Mapping von Objekten auf JSON
            <li class="fragment">Polyglotte Programmierung
        </ul>
    </section>
    <section>
        <h3>Option #2: JavaScript auch auf dem Server?</h3>
        <ul>
            <li class="fragment">Code kann wieder verwendet werden
            <li class="fragment">Dieselben Tools für Frontend und Backend
            <li class="fragment">Kleinerer Technologiestack
            <li class="fragment">Vertikale Teams einfacher zu realisieren
            <li class="fragment">Einheitliche Entwicklungsphilosophie
            <li class="fragment">JSON als natürliches Datenformat
        </ul>
    </section>
    <section>
        <h3>Node.js</h3>
        <ul>
            <li class="fragment">Erlaubt die Ausführung von JavaScript auch auf dem Server
            <li class="fragment">Bestandteile
                <ul>
                    <li class="fragment">Chrome V8 JavaScript-Engine
                    <li class="fragment">Asynchrone IO-Bibliothek (libuv), die auf allen Plattformen läuft
                </ul>
            </li>
            <li class="fragment">Asynchrones Programmiermodell, kein Multithreading
            <li class="fragment">Kommt mit Abhängigkeits-Manager <code>npm</code>
            <li class="fragment">Forken für Auslastung aller Kerne mit <a target="_blank"
                                                                          href="http://nodejs.org/api/cluster.html">"Clustering"
                als Kernmodul</a>

            <li class="fragment"><a target="_blank" href="http://cjihrig.com/blog/scaling-node-js-applications/">Skalierung
                über viele Maschinen</a> möglich
            <li class="fragment">Skaliert sehr gut bei hoher Last (non-blocking)
            <li class="fragment">Express als Modul für klassische Webanwendungen
            <li class="fragment">Auch ideal als API-Server
        </ul>
    </section>
    <section>
        <h3>Beispiel-Server für node</h3>
<pre><code class="javascript" contenteditable>var http = require('http');

function handleRequest (req, res) {
    res.writeHead(200, {'Content-Type': 'text/plain'});
    res.end('Hello World\n');
}
http.createServer(handleRequest).listen(1337);</code></pre>
        <p class="fragment">Starten</p>
        <pre class="fragment"><code class="javascript" contenteditable>node server.js</code></pre>
    </section>

    <section>
        <h3>Wer nutzt Node.js in Produktion?</h3>
        <ul>
            <li class="fragment"><a target="_blank"
                                    href="https://www.paypal-engineering.com/2013/11/22/node-js-at-paypal/">Paypal</a>
            <li class="fragment"><a target="_blank"
                                    href="http://venturebeat.com/2012/01/24/why-walmart-is-using-node-js/">Walmart</a>
            <li class="fragment"><a target="_blank"
                                    href="http://www.ebaytechblog.com/2013/05/17/how-we-built-ebays-first-node-js-application/#.U0ZFXK2Sxwg">Ebay</a>
            <li class="fragment"><a target="_blank" href="http://venturebeat.com/2011/08/16/linkedin-node/">Linkedin</a>
            <li class="fragment"><a target="_blank"
                                    href="https://github.com/joyent/node/wiki/Projects,-Applications,-and-Companies-Using-Node">Viele
                weitere</a>
            <!--<li class="fragment"><a target="_blank" href="http://nodejs.org/industry/">Node.js-Unterstützer</a>-->
        </ul>
    </section>

<section>
    <h2>Wrap Up</h2>
    <ul>
        <li class="fragment">Es gibt wenige echte Standards
        <li class="fragment">Gute Frameworks machen das DOM und die Browser-Vielfalt erträglich
        <li class="fragment">Langlebigkeit von Bibliotheken teilweise fraglich
        <li class="fragment">JavaScript ist auf Client und auf Server möglich
    </ul>
</section>
<section>
    <h1>Vielen Dank</h1>

    <h3>Fragen / Diskussion</h3>

    <p>
        <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
        </small>
    </p>
</section>
</div>

</div>

<script src="../reveal.js/lib/js/head.min.js"></script>
<script src="../reveal.js/js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/../reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

        // Optional libraries used to extend on ../reveal.js
        dependencies: [
            { src: '../reveal.js/lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: '../reveal.js/plugin/markdown/showdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../reveal.js/plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../reveal.js/plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: '../reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } },
            { src: '../reveal.js/plugin/notes/notes.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
            // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>

</body>
</html>
