<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>JavaScript Web Framework Shootout</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <link rel="stylesheet" href="../reveal.js/css/reveal.min.css">
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/simple.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/sky.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/moon.css" id="theme">-->
    <link rel="stylesheet" href="../reveal.js/css/theme/night.css" id="theme">
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/solarized.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/beige.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/blood.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/default.css" id="theme">-->
    <!--<link rel="stylesheet" href="../reveal.js/css/theme/serif.css" id="theme">-->


    <!-- Uncomment for presentation -->
    <style>
        pre code {
            display: block;
            padding: 0.5em;
            background: #FFFFFF;
            color: #000000;
        }
        .right-img {
            margin-left: 10px !important;
            float: right;
            height: 500px;
        }
    </style>



    <!-- Uncomment for PDF generation -->
    <!-- and add ?print-pdf to url -->
    <!--<link rel="stylesheet" href="../reveal.js/css/print/pdf.css">-->
    <!--<link rel="stylesheet" href="../reveal.js/lib/css/zenburn.css">-->

    <!--[if lt IE 9]>
    <script src="../reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

<div class="slides">
<section>
    <h2>JavaScript Web Framework Shootout</h2>

    <p>
        <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
        </small>
    </p>
    <p>Online Version: <a href="http://djcordhose.github.io/serious-javascript/slides/web_frameworks_shootout.html">http://djcordhose.github.io/serious-javascript/slides/web_frameworks_shootout.html</a></p>
    <p>Or: http://bit.ly/1LplvlE</p>

</section>

<section>
    <!-- 60 minutes -->

    <h2>Contents</h2>
    <ol>
        <!-- 5 minutes -->
        <li class="fragment">Motivation: Why client side rendering in the first place?
        <!-- 10 minutes -->
        <li class="fragment">The beginning: jQuery
        <!-- 10 minutes -->
        <li class="fragment">Adding structure: Backbone
        <!-- 10 minutes -->
        <li class="fragment">Introducing Magic: Angular
        <!-- 10 minutes -->
        <li class="fragment">Back to simplicity: React
        <!-- 10 minutes -->
        <!-- For JAX only -->
        <!--<li class="fragment">Closing the circle: hapi-->
        <!-- 5 minutes -->
        <li class="fragment">Questions and discussion
    </ol>
</section>

<section>
<section>
    <h2>Motivation: Why client side (browser) rendering in the first place?</h2>
</section>
    <section>
        <h3>Classic Server Side Rendering (Blue: Server, Violett: Browser)</h3>
        <ul>
            <img src="Classic%20Web%20Application.png" class="right-img">
            <li class="fragment">You can render on the server and still have a fully functional Web Application
            <li class="fragment">HTML will be displayed on client
            <li class="fragment">Optionally you add a little JavaScript for some visual effects
        </ul>
        <p><small>Copyright 2015, Oliver Zeigermann</small></p>
    </section>

    <section>
        <h3>SPA Lean: Rendering and UI in Browser</h3>
        <ul>
            <img src="Application%20SPA%20Web%20Client%20BASTA%202014%20-%20Lean.jpg" class="right-img">
            <li class="fragment">Single Page Application - a single HTML pages gets loaded containing all  HTML and JavaScript
            <li class="fragment">Rendering entirely in Browser
            <li class="fragment">Best User Experience because of fast responses
        </ul>
        <p><small>Copyright 2015, Oliver Zeigermann</small></p>
    </section>

    <section>
        <h3>SPA Fat: Additional business logic in Browser</h3>
        <ul>
            <img src="Application%20SPA%20Web%20Client%20BASTA%202014%20-%20Fat.jpg" class="right-img">
            <li class="fragment">Business logic in browser allows for offline support
            <li class="fragment">Brought to an extreme no or only occasional online connectivity required
        </ul>
        <p><small>Copyright 2015, Oliver Zeigermann</small></p>
    </section>

</section>

    <section>
        <section>
            <h2>The beginning: jQuery</h2>
        </section>
        <section>
            <h3>Key features</h3>
            <ul>
                <li class="fragment">
            </ul>
        </section>

            <section>
        <h2>Hello World jQuery</h2>
        <pre><code class="xml" contenteditable>&lt;input id="in">
&lt;p>&lt;span id="log">&lt;/span>, World&lt;/p>
&lt;input id="btn" type="button" value="Clear">
&lt;script>
    var model;
    function setModel(value) {
        model = value;
        $("#log").html(model);
        $("#in").val(model);
    }
    $(document).ready(function () {
        $("#in").on("keyup", function (event) {
            setModel($("#in").val());
        });
        $("#btn").on("click", function () {
            setModel("");
        });
        setModel("Hello");
    });
&lt;/script></code></pre>
                        <a href="../framework-comparison/end/helloworld-jQuery.html">Run</a>
                    </section>
        <section>
            <h3>Architectural considerations</h3>
            <ul>
                <li class="fragment">
            </ul>
        </section>
        <section>
            <h3>Use Cases</h3>
            <ul>
                <li class="fragment">
            </ul>
        </section>

    </section>
    <section>
        <section>
            <h2>Adding structure: Backbone</h2>
        </section>
    </section>
    <section>
        <section>
            <h2>Introducing Magic: Angular</h2>
        </section>
        <section>
                <h3>Key Features</h3>
        <ul>
            <li class="fragment">HTML enhanced for web apps!
            <li class="fragment">HTML extended by <em>directives</em> (=== components)
            <li class="fragment">You can write your directives
            <li class="fragment">2-way data binding
        </ul>
    </section>

                <section>
                    <h3>Hello World AngularJS</h3>
<pre><code class="xml" contenteditable>&lt;body np-app ng-controller="HelloController as helloController">
&lt;input ng-model="helloController.greeting.text">
&lt;p>{{helloController.greeting.text}}, World!&lt;/p>
&lt;input type="button" value="Clear" ng-click="helloController.clear()">
&lt;/body></code></pre>
<pre class="fragment"><code class="javascript" contenteditable>function HelloController() {
    this.greeting = {
        text: 'Hello'
    };
}
HelloController.prototype.clear = function() {
    this.greeting.text = '';
};
</code></pre>
        <a href="../framework-comparison/end/helloWorldAngular.html">Run</a>
                </section>


    </section>

    <section>
        <section>
            <h2>Back to simplicity: React</h2>
        </section>
        <section>
            <h3>Key features</h3>
            <ul>
                <li class="fragment">Framework for Facebook und Instagram
                <li class="fragment">Everything is a component
                <li class="fragment">Just the V in MVC
                <li class="fragment">1-way data binding: changes in model automatically rerenders component
                <li class="fragment">Smart algorithm performance minimal changes to DOM => fast
                <li class="fragment">Minimal API for simplicity
                <li class="fragment">Explicit code to avoid magic
                <li class="fragment">Can render both on server and on client side
                <li class="fragment">Server side rendering also for SEO or quick first page impression
            </ul>
        </section>

                <section>
            <h3>Hello World React</h3>
<pre><code class="html" contenteditable>var HelloMessage = React.createClass({
  getInitialState: function() {
    return { model: this.props.greeting};
  },
  updateModel: function(event) {
    this.setState({model: event.target.value});
  },
  reset: function() {
    this.setState({model: ""});
  },
  render: function() {
    return (&lt;div>
        &lt;input onChange={this.updateModel} value={this.state.model} />
        &lt;p>{this.state.model}, World&lt;/p>
        &lt;input type="button" value="Clear" onClick={this.reset} />
     &lt;/div>);
  }
});
var mountNode = document.getElementById('example');
React.renderComponent(&lt;HelloMessage greeting="Hello" />, mountNode);</code></pre>
                <a href="../framework-comparison/end/helloWorldReact.html">Run</a>
        </section>
    </section>

    <!--<section>-->
        <!--<section>-->
            <!--<h2>Closing the circle: hapi</h2>-->
        <!--</section>-->
    <!--</section>-->


        <section>
            <h1>Thank you!</h1>

            <h3>Questions / Discussion</h3>

            <p>
                <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
                </small>
            </p>

        </section>


</div>

</div>

<script src="../reveal.js/lib/js/head.min.js"></script>
<script src="../reveal.js/js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/../reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

        // Optional libraries used to extend on ../reveal.js
        dependencies: [
            { src: '../reveal.js/lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: '../reveal.js/plugin/markdown/showdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../reveal.js/plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../reveal.js/plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: '../reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } },
            { src: '../reveal.js/plugin/notes/notes.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
            // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>

</body>
</html>
