<!doctype html>
<html>
<head>
    <title>Angular Hello World!</title>
    <script src="../lib/angular.js"></script>
    <script>
        function HelloController() {
            this.greeting = {
                text: 'Hello'
            };
        }

        HelloController.prototype.clear = function() {
            this.greeting.text = '';
        };
    </script>
</head>
<body ng-app>
    <div ng-controller="HelloController as helloController">
        <input ng-model='helloController.greeting.text'>
        <p>{{helloController.greeting.text}}, World!</p>
        <input type="button" value="Clear" ng-click="helloController.clear()">
    </div>
</body>
</html>