<!doctype html>
<html>
<head>
    <title>Angular Hello World!</title>
    <script src="../lib/angular.js"></script>
    <script>
        function HelloController() {
            this.model = 'Hello';
        }

        HelloController.prototype.clear = function() {
            this.model = '';
            // setting the focus on the input field seems to require a self made directive??? WTF?
        };
    </script>
</head>
<body ng-app>
    <div ng-controller="HelloController as helloController">
        <input ng-model='helloController.model'>
        <p>{{helloController.model}}, World!</p>
        <input type="button" value="Clear" ng-click="helloController.clear()">
    </div>
</body>
</html>