<!doctype html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
    <script src="app.js"></script>
    <!--<script src="local-calc.js"></script>-->
    <script src="remote-calc.js"></script>
    <script src="controllers.js"></script>
</head>
<body>
    <div ng-controller='MyController'>
        <input ng-model='result.total'>
        <br>
        <!--<input type="button" ng-click="ping()" value="Ping result at any time">-->
    </div>


</body>
</html>