<!--http://localhost:63342/JavaScript%20Training/#/-->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>AngularJS</title>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="../reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="../reveal.js/css/theme/simple.css" id="theme">
        <!--<link rel="stylesheet" href="../reveal.js/css/theme/moon.css" id="theme">-->

        <!-- For syntax highlighting -->
		<!--<link rel="stylesheet" href="../reveal.js/lib/css/zenburn.css">-->
        <style>
            pre code {
                display: block;
                padding: 0.5em;
                background: #FFFFFF;
                color: #000000;
            }
        </style>

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="../reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
        <script src="../reveal.js/lib/js/html5shiv.js"></script>
        <![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
                <section>
					<h2>Single Page Application mit AngularJS und Yeoman</h2>
                    <p>
                        <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
                        </small>
                    </p>
                    <p>Online-Version: <a href="http://djcordhose.github.io/serious-javascript/angular-yeoman/angular.html">http://djcordhose.github.io/serious-javascript/angular-yeoman/angular.html</a></p>

                </section>

                <section>
                    <h2>Single Page Applications (SPA)</h2>
                    <ul>
                        <li class="fragment">Web-Anwendungen, laufen im Browser
                        <li class="fragment">Nur eine einzige Seite wird an den Browser vom Server ausgeliefert
                        <li class="fragment">Alle weiteren Aktionen werden von dem JavaScript kontrolliert, das mit der Seite ausgeliefert wurde
                        <li class="fragment">Zugriffe auf den Server nicht zur Darstellungen, sondern zur Übertragung von Daten
                        <li class="fragment">Erlaubt höchste Interaktivität und beste Reaktion auf Benutzereingaben
                        <li class="fragment">Komfort vergleichbar mit Desktop-Anwendungen
                        <li class="fragment">Offline-Fähigkeit
                    </ul>
                </section>

                <section>
                    <h2>Architektur einer (SPA)</h2>
                    <ul>
                        <li class="fragment">Server wird nur noch zur Kommunikation mit dem Client benötigt
                        <li class="fragment">Client macht REST/JSON calls zum Server
                        <li class="fragment">Client wird entweder komplett geladen oder in Modulen nachgeladen
                        <li class="fragment">Reload, Links, Bookmarks, Forward-/Backward-Navigation über Deep-Links (#)
                        <li class="fragment">Lokale und Offline-Speicherung über LocalStorage oder IndexedDB
                        <li class="fragment">Kommunikation mit mehreren API-Servern über CORS möglich
                    </ul>
                </section>

                <section>
                    <h2>Architektur-Varianten</h2>
                </section>

                <section>
                    <h3>Anforderungen an Dynamik und Stabilität</h3>
                    <img src="Application%20Stability%20BASTA%202014.jpg" height="500">
                    <p><small>Copyright 2014, Oliver Zeigermann</small></p>
                </section>

                <section>
                    <h3>SPA Variante #1: Lean</h3>
                    <img src="Application%20SPA%20Web%20Client%20BASTA%202014%20-%20Lean.jpg" height="500">
                    <p><small>Copyright 2014, Oliver Zeigermann</small></p>
                </section>

                <section>
                    <h3>SPA Variante #2: Fat</h3>
                    <img src="Application%20SPA%20Web%20Client%20BASTA%202014%20-%20Fat.jpg" height="500">
                    <p><small>Copyright 2014, Oliver Zeigermann</small></p>
                </section>

                <section>
                    <h2>Technische Anforderungen an den Browser</h2>
                    <ul>
                        <li class="fragment">SPAs laufen länger (teilweise viel länger) als eine klassiche Webseite
                        <li class="fragment">Manche SPAs schließt man fast nie
                        <li class="fragment">Bei mir sind das Gmail, Facebook und Twitter
                        <li class="fragment">Die Anforderungen für Speicher-Management vergleichbar wie bei einer Desktop-Applikation
                        <li class="fragment">Reaktionszeiten der Anwendungen sind ebenso wichtig
                        <li class="fragment">Moderne Browser bieten Mittel des Profilings und der Analyse
                        <li class="fragment">Chrome sticht hervor, aber auch Firefox und die neuesten IE (ab 11) erlauben Profiling
                        <li class="fragment">Mehr dazu: <a target="_blank" href="https://speakerdeck.com/addyosmani/javascript-memory-management-masterclass">https://speakerdeck.com/addyosmani/javascript-memory-management-masterclass</a></li>
                    </ul>
                </section>
<section>
    <h3>Überlick: Frameworks zur Implementierung von SPAs</h3>
    <ul>
        <li class="fragment">Kein Framework (vanilla.js)
        <li class="fragment">jQuery
        <li class="fragment">AngularJS
    </ul>
</section>

    <section>
        <h2>Zum Vergleich: Hello World ohne Framework</h2>
        <pre><code class="xml" contenteditable>&lt;input id="in" onkeyup="setModel(this.value)">
&lt;p>&lt;span id="log">&lt;/span>, World&lt;/p>
&lt;input type="button" value="Clear" onclick="reset()">
&lt;script>
    var model;
    function setModel(value) {
        model = value;
        document.getElementById("log").innerHTML = model;
        document.getElementById("in").value = model;
    }
    function reset() {
        setModel("");
    }
    window.onload = function() {
        setModel("Hello");
    };
&lt;/script></code></pre>
                        <a target="_blank" href="HelloWorld2/helloworld-vanilla.html">Run</a>
                    </section>

    <section>
        <h3>jQuery</h3>
        <ul>
            <li class="fragment">Standard-JavaScript-Bibliothek
            <li class="fragment">Fast überall zu finden
            <li class="fragment">Abstrahiert nicht von der Ebene der DOM-Manipulation
            <li class="fragment">Typischerweise "unobtrusive", d.h. bestehendes HTML wird nicht verändert
        </ul>
    </section>
    <section>
        <h2>Hello World jQuery</h2>
        <pre><code class="xml" contenteditable>&lt;input id="in">
&lt;p>&lt;span id="log">&lt;/span>, World&lt;/p>
&lt;input id="btn" type="button" value="Clear">
&lt;script>
    var model;
    function setModel(value) {
        model = value;
        $("#log").html(model);
        $("#in").val(model);
    }
    $(document).ready(function () {
        $("#in").on("keyup", function (event) {
            setModel($("#in").val());
        });
        $("#btn").on("click", function () {
            setModel("");
        });
        setModel("Hello");
    });
&lt;/script></code></pre>
                        <a target="_blank" href="HelloWorld2/helloworld-jQuery.html">Run</a>
                    </section>

                <section>
                    <h2>Angular</h2>
                    <h3>HTML enhanced for web apps!</h3>
                    <img src="angular.png">
                    <p><a target="_blank" href="http://angularjs.org/">http://angularjs.org</a></p>
                    <ul>
                        <li class="fragment">HTML enhanced for web apps!
                        <li class="fragment">HTML wird erweitert (Directives)
                        <li class="fragment">Eigene Directives (== Komponenten) sind möglich
                        <li class="fragment">2-Wege-Databinding
                    </ul>
                </section>
                <section>
                    <h3>AngularJS Hello World #1</h3>
<pre><code class="xml" contenteditable>&lt;html ng-app>
&lt;head>
    &lt;script src="angularjs/angular.min.js">&lt;/script>
&lt;/head>
&lt;body>
    &lt;input ng-model="name">
    &lt;p>Hello, {{name}}!&lt;/p>
&lt;/body>
&lt;/html></code></pre>
                    <a href="HelloWorld2/helloWorldAngular.html" target="_blank">Run</a>
                </section>
                <section>
                    <h3>AngularJS Hello World #2</h3>
<pre><code class="xml" contenteditable>&lt;html ng-app>
&lt;head>
    &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js">&lt;/script>
    &lt;script src="controller.js">&lt;/script>
&lt;/head>
&lt;body ng-controller="HelloController">
    &lt;input ng-model="greeting.text">
    &lt;p>{{greeting.text}}, World!&lt;/p>
&lt;/body>
&lt;/html></code></pre>
<pre><code class="javascript" contenteditable>function HelloController($scope) {
    $scope.greeting = {
        text: 'Hello'
    };
}</code></pre>
                    <a href="HelloWorld2/helloWorldAngular2.html" target="_blank">Run</a>
                </section>

                <section>
                    <h3>AngularJS Hello World #3</h3>
<pre><code class="xml" contenteditable>&lt;body ng-app ng-controller="HelloController as helloController">
&lt;input ng-model="helloController.greeting.text">
&lt;p>{{helloController.greeting.text}}, World!&lt;/p>
&lt;input type="button" value="Clear" ng-click="helloController.clear()">
&lt;/body></code></pre>
<pre class="fragment"><code class="javascript" contenteditable>function HelloController() {
    this.greeting = {
        text: 'Hello'
    };
}
HelloController.prototype.clear = function() {
    this.greeting.text = '';
};
</code></pre>
        <a target="_blank" href="HelloWorld2/helloWorldAngular3.html">Run</a>
                </section>


                <section>
                    <h3>Konzepte</h3>
                    <ul>
                        <li class="fragment">Client-Seitige Templates
                        <li class="fragment">MVC (Modell ist eher ViewModel)
                        <li class="fragment">Die drei Ds
                            <ul>
                                <li class="fragment">Data Binding
                                <li class="fragment">Dependency Injection
                                <li class="fragment">Directives
                            </ul>
                    </ul>
                </section>

                <section>
                    <h3>Artefakte</h3>
                    <ul>
                        <li class="fragment"><code>Directives</code>: HTML-Erweiterungen
                        <li class="fragment"><code>Scope</code>: Kontext, der Modell-Inhalte und -Logik enthält
                        <li class="fragment"><code>Controller</code>: Initialisiert den Scope bzw. erzeugt eine Controller-Instanz
                        <li class="fragment"><code>Module</code>: Kapselt einen Teil der Anwendung, kann andere Teil importieren
                        <li class="fragment"><code>Services</code>: Instanzen, Typen oder Singletons, die injiziert werden können
                    </ul>
                </section>

                <section>
                    <section>
                        <h2>Directives: HTML-Erweiterungen</h2>
                        <p class="fragment">Angular definiert eine Reihe von zusätzlichen HTML-Attributen</p>
                        <ul>
                            <li class="fragment">Neben Attributen sind auch Elemente, Styles und Kommentare möglich
                            <li class="fragment">Attribute können mit <code>data-</code> beginnen, um HTML5-konform zu sein
                            <li class="fragment">Etwas sehr ähnliches wird unter dem Namen <code>Web Components</code> standardisiert
                            <li class="fragment">Eigene Erweiterungen sind möglich
                        </ul>
                    </section>
                    <section>
                        <h3>ng-app</h3>
                        <ul>
                            <li class="fragment">z.B. <code>&lt;body ng-app="CustomerApp"></code>
                            <li class="fragment">Ab dem Element mit diesem Attribut steht die Seite unter Angular-Management
                            <li class="fragment">Angabe des Applikations-Namens optional
                            <li class="fragment">Wenn angegeben muss er zu dem Namen eines Moduls passen
                        </ul>
                    </section>
                    <section>
                        <h3>ng-controller</h3>
                        <ul>
                            <li class="fragment">z.B. <code>&lt;div ng-controller="MainCtrl"></code>
                            <li class="fragment">Ab dem Element mit diesem Attribut steht die Seite unter der Kontrolle des angegeben Controllers
                            <li class="fragment">Ein neuer Scope wird erzeugt und in die Hierarchie eingehängt
                            <li class="fragment"><code>&lt;div ng-controller="MainCtrl as ctrl"></code> hängt die erzeugte Instanz unter dem angegebenen Namen in den Scope
                        </ul>
                    </section>
                    <section>
                        <h3>ng-model</h3>
                        <ul>
                            <li class="fragment">z.B. <code>&lt;input ng-model="greeting.text"></code>
                            <li class="fragment">Bindet ein Eingabe-Feld an ein Modell
                            <li class="fragment">Modell liegt innerhalb des aktuellen Scopes
                            <li class="fragment">Funktioniert in beide Richtungen
                            <li class="fragment">Modell kann jedes beliebige JavaScript-Objekt sein
                            <li class="fragment">Bei sehr vielen Modell-Bindungen kann die Seite langsam werden
                        </ul>
                    </section>
                    <!--<section>-->
                        <!--<h3>ng-bind</h3>-->
                        <!--<ul>-->
                            <!--<li class="fragment">z.B. <code>&lt;span ng-bind="greeting.text">&lt;/span></code>-->
                            <!--<li class="fragment">Alternative zu <code>{{...}}</code>, um einen Modell-Wert auszugeben-->
                            <!--<li class="fragment">Verhindert eine störende Ausgabe von <code>{{...}}</code> bevor Angular diese ersetzt-->
                            <!--<li class="fragment">Kann ein flackern in der Initialisierungsphase verhindern-->
                            <!--<li class="fragment">Etwas sperriger als <code>{{...}}</code> im Gebrauch-->
                        <!--</ul>-->
                    <!--</section>-->
                    <section>
                        <h3>ng-repeat</h3>
                        <ul>
                            <li class="fragment">z.B. <code>&lt;tr ng-repeat="person in persons"></code>
                            <li class="fragment">Iteriert über ein Array von Modell-Elementen
                            <li class="fragment">Erzeugt für jeden Eintrag einen eigenen Scope und eine Template-Instanz
                            <li class="fragment">Die Laufvariable ist dann Modell-Wert im neuen Scope
                            <li class="fragment">In jedem Scope gibt es dazu spezielle Variablen für Index und Position des aktuellen Eintrags
                        </ul>
                    </section>
                    <section>
                        <h3>ng-click und ng-submit</h3>
                        <ul>
                            <li class="fragment">z.B. <code>&lt;form ng-submit="save(person)"></code>
                            <li class="fragment">bzw. <code>&lt;i ng-click="edit(person)"></code>
                            <li class="fragment">Gibt an, welche Funktion auf dem aktuellen Scope aufgerufen werden soll
                            <li class="fragment">Modelle aus dem aktuellen Scope können als Parameter mit übergeben werden
                        </ul>
                    </section>
                </section>
                <!--<section>-->
                <!--<h3>Controller</h3>-->
                <!--<ul>-->
                <!--<li class="fragment">Eine "einfache" JavaScript-Klasse-->
                <!--<li class="fragment">Arbeitet typischerweise auf einem <code>$scope</code>-->
                <!--<li class="fragment">Bekommt den <code>$scope</code> injiziert-->
                <!--<li class="fragment">Fügt dem Scope die Steuerungslogik der Anwendung bei der Initialisierung hinzu-->
                <!--<li class="fragment">Initialisiert das Modell-->
                <!--<li class="fragment">Komplexere Anwendungen haben meist mehr als einen Controller-->
                <!--<li class="fragment">Verschachtelungen möglich-->
                <!--</ul>-->
                <!--</ul>-->
                <!--</section>-->

                <!--<section>-->
                    <!--<h3>Scope</h3>-->
                    <!--<ul>-->
                        <!--<li class="fragment">Schnittstelle zum Template-->
                        <!--<li class="fragment">Aktueller Scope kann über <code>$scope</code> injiziert werden-->
                        <!--<li class="fragment">Hält Instanzen des Modells und Funktionalität auf diesen-->
                        <!--<li class="fragment">Kommt in Hierarchien, die u.a. den Controller-Verschachtelungen folgen-->
                        <!--<li class="fragment">Nicht gefundene Einträge werden an den Parent-Scope delegiert-->
                        <!--<li class="fragment"><code>$rootScope</code> ist Mutter aller anderen Scopes-->
                    <!--</ul>-->
                <!--</section>-->

                <section>
                    <section>
                        <h3>Übung: Hello-World und Direktiven</h3>
                        <ul>
                            <li class="fragment">Erzeuge mit WebStorm ein neues Projekt und erstelle ein eigenes
                                Hello-World nach dem Beispiel von Hello World.
                            <li class="fragment">Starte das Programm über 'Open in Browser'
                            <!--<li class="fragment">Erweitere Hello World um ein <code>ng-click</code>, das das Modell löscht-->
                            <!--<li class="fragment">Binde einen Teil des Templates über <code>ng-include</code> ein, z.B. das Input-Feld-->
                            <li class="fragment">Erweitere das Modell im Controller mit einem Array von Einträgen und
                            gib diese mit <code>ng-repeat</code> aus, z.B. die Namen der 8 Planeten
                        </ul>
                    </section>
                    <!--<section>-->
                        <!--<h3>Zusatzaufgabe: Tests mit Jasmine und Karma</h3>-->
                        <!--<ul>-->
                            <!--<li class="fragment">Übernimm aus <code>code/angular/uebung-0</code> die <code>karma.conf.js</code> und die Struktur-->
                            <!--<li class="fragment">Übernimm auch die Module in <code>node_modules</code> (ganzen Ordner kopieren)-->
                            <!--<li class="fragment">Kopiere dir den <code>angular</code>-Ordner neben dein Projekt, um die Angular-Datein für die Tests zu haben-->
                            <!--<li class="fragment">Schreibe Tests für deinen Code in <code>spec/main.js</code>-->
                            <!--<li class="fragment">Starte die Tests über WebStorm (Rechte Maus: "Run...")-->
                        <!--</ul>-->
                    <!--</section>-->
                </section>
                <section>
                    <h2>Yeoman</h2>
					<h3>Modern Workflows For Modern Webapps</h3>
				</section>
                <section>
                    <h3>Maven für JavaScript</h3>
                    <img src="yeoman.png">
                    <p><a target="_blank" href="http://yeoman.io/">http://yeoman.io/</a></p>
                    <!-- Danach alles Ebenfalls hier zeigen -->
                </section>

                <section>
                <section>
                    <!--<h2>Übung</h2>-->
                    <h3>Ein einfaches Angular-Projekt mit yo erzeugen</h3>
                </section>
                <section>
                    <h3>Projekt mit yo erzeugen und starten</h3>
<pre><code contenteditable># node installieren über http://nodejs.org/download/
# git installieren

# Installation yo (mit sudo auf Mac)
npm install -g yo
npm install -g generator-angular
npm install -g grunt

# Erzeugen
mkdir sandbox
cd sandbox
yo angular # SASS-Frage mit "n" beantworten

# Unit Tests
grunt build test
# Starten
grunt build serve
</code></pre>
                </section>
                <section>
                    <h3>Die schnelle Variante</h3>
                    <p>Wir basieren auf dem bereits auf diese Weise erzeugten Projekt unter <code>code/0-base</code></p>
<pre><code contenteditable># node installieren über http://nodejs.org/download/

cd code/0-base

# Installation grunt (mit sudo auf Mac)
npm install -g grunt

# Unit Tests
grunt --force build test

# Starten
grunt --force build serve

# Falls nicht automatisch geschehen: Browser öffnen mit
http://localhost:9000
</code></pre>
                </section>
                    <!--<section>-->
                        <!--<h3>Übung #1: Tests</h3>-->
                        <!--<ul>-->
                            <!--<li class="fragment">Öffne die erzeugte Anwendung in WebStorm-->
                            <!--<li class="fragment">Führe die Tests auf <code>karma.conf.js</code> aus (rechte Maus auf dem File)-->
                            <!--<li class="fragment">Finde die passenden Jasmine-Testsuite-->
                            <!--<li class="fragment">Füge einen Test hinzu, der fehlschlägt, z.B. <code>expect(scope.awesomeThings[0]).toBe("Olli");</code>-->
                            <!--<li class="fragment">Finde den passenden Controller und sorge dafür, dass der Test wieder grün wird-->
                            <!--<li class="fragment">Vergewissere dich, dass deine Änderungen sofort im Browser sichtbar werden-->
                        <!--</ul>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<h3>Übung #2: Build</h3>-->
                        <!--<ul>-->
                            <!--<li class="fragment">Führe den Task <code>grunt jshint</code> aus und versuche ihn fehlschlagen zu lassen-->
                            <!--<li class="fragment">Untersuche <code>Gruntfile.js</code> und identifiziere den entsprechenden Task für <code>jshint</code> - welche Konfigurationsdatei wird verwendet?-->
                            <!--<li class="fragment">Verändere die Konfigurationsdatei so, dass <code>grunt jshint</code> nicht mehr fehlschlägt-->
                            <!--<li class="fragment">Vergleiche <code>index.html</code> im <code>app</code>- mit dem aus dem <code>dist</code>-Verzeichnis - was ist da passiert?-->
                            <!--<li class="fragment"><code>yo</code> hat bereits <code>bower install</code> und <code>npm install</code> ausgeführt? Welche Dateien bestimmen das Verhalten?-->
                        <!--</ul>-->
                    <!--</section>-->

                </section>

                <section>
                    <section>
                        <h3>Module</h3>
                        <ul>
                            <li class="fragment">Nicht-Spielzeug-Anwendungen werden in Module verpackt
                            <li class="fragment">Bei <code>ng-app</code> wird das gewünscht Modul angegeben
                            <li class="fragment">Module können andere Module importieren
                            <li class="fragment">Als Teile von Modulen werden u.a.
                            <ul>
                                <li>Controller
                                <li>Directives
                                <li>Routings und
                                <li>Services definiert
                            </ul>
                        </ul>
                    </section>
                    <section>
                        <h3>Beispiel</h3>
                        <p>Wir definieren das Modul <code>CustomerApp</code> mit einer Abhängigkeit zum Modul <code>ngResource</code> und definieren dazu einen Controller</p>
<pre><code class="javascript" contenteditable>var CustomerApp = angular.module('CustomerApp', ['ngResource']);

CustomerApp.controller("MainCtrl", function($scope,
                                            CustomerResource) {
    // ...
}</code></pre>
                    </section>
                    <section>
                        <h3>Anwendungsfluss</h3>
                        <ul>
                            <li class="fragment">Innerhalb eines Moduls können URLs auf Paare aus Controller und View geleitet werden
                            <li class="fragment">Diese URLs sind Deep-Links (z.B. <code>.../index.html#/main</code>)
                            <li class="fragment">Navigation auf diese URLs über Klicks oder History
                            <li class="fragment">Defaults und Redirects sind möglich
                        </ul>
                    </section>
                    <section>
                        <h3>Beispiel</h3>
<pre><code class="javascript" contenteditable>CustomerApp.config(function ($routeProvider) {
    $routeProvider
        .when('/main', {
            templateUrl: 'views/main.html',
            // entweder
            controller: 'MainCtrl as ctrl',
            // oder
            controller: 'MainCtrl'
        })
        .otherwise({
            redirectTo: '/main'
        });
});
</code></pre>
                    </section>

                </section>
                <section>
                    <section>
                        <h2>Mehr Direktiven</h2>
                    </section>
                    <section>
                        <h3>ng-view</h3>
                        <ul>
                            <li class="fragment">z.B. <code>&lt;div ng-view></code>
                            <li class="fragment">Stellt den aktuellen View dar
                            <li class="fragment">Aktueller View wird durch internes Routing bestimmt
                        </ul>
                    </section>
                    <section>
                        <h3>ng-if / ng-show</h3>
                        <ul>
                            <li class="fragment">z.B. <code>&lt;div ng-if="state.isConsumed"></code>
                            <li class="fragment">Konditionales in den DOM einfügen (ng-if) bzw. anzeigen (ng-show)
                            <li class="fragment">Beide erwarten einen Ausdruck (ohne <code>{{...}}</code>)
                        </ul>
                    </section>
                    <section>
                        <h3>ng-include</h3>
                        <ul>
                            <li class="fragment">z.B. <code>&lt;div ng-include src="'partials/form.html'"></code>
                            <li class="fragment">Client seitiges Einbinden eines HTML-Fragments
                        </ul>
                    </section>
                </section>
                <section>
                    <section>
                        <h3>Übung: Darlehensrechner mit Angular</h3>
                        <p>Erweitere die mit <code>yo</code> erzeugte Anwendung, so dass sie wie ein Darlehensrechner funktioniert</p>
                    </section>
                    <section>
                        <h3>Fallbeispiel: Darlehensrechner</h3>
                        <p class="fragment">Der Nutzer möchte seinen Darlehensvertrag optimieren und anhand von bestimmten Eingaben, die man schnell variieren kann, die für ihn interessanten Ausgaben sehen.</p>
                        <p class="fragment">
                            Das Ergebnis soll
                        </p>
                        <ul>
                            <li class="fragment"><a href="http://mortgage-demo.appspot.com/" target="_blank">in etwa so aussehen</a>
                            <li class="fragment">als SPA im Browser ohne Plugins laufen
                            <li class="fragment">zumindest die Berechnung direkt im Browser beherrschen
                            <li class="fragment">optional durch einen REST-Aufruf die Berechnung auf dem Server machen
                            <li class="fragment">modular und wartbar sein
                        </ul>
                    </section>
                <!--<section>-->
                    <!--<h3>Schritte #0</h3>-->
                    <!--<p>Falls du die Anwendung nicht bereits mit <code>yo</code> erzeugt hat, führe zuerst dieses Schritte aus</p>-->
<!--<pre><code contenteditable># node installieren über http://nodejs.org/download/-->

<!--# Installation yo / grunt / bower-->
<!--sudo npm install -g yo-->

<!--# Abhängigkeiten auflösen-->
<!--cd code/angular/0-angular-frame-->
<!--npm install-->
<!--bower install-->

<!--# Starten-->
<!--grunt build server-->
<!--</code></pre>-->
                <!--</section>-->

                    <section>
                        <h3>Schritte #1: Logik und HTML</h3>
                        <ul>
                            <li class="fragment">Beginne mit der durch <code>yo</code> erzeugten Anwendung
                            <li class="fragment">Die Logik des Darlehensrechners liegt bereits vor (<code>code/angular/uebung-1/cals.js</code>). Kopiere diese in das Projekt und binde sie in <code>index.html</code> ein.
                            <li class="fragment">Ersetze das HTML im View <code>app/views/main.html</code> mit dem vollständigen, vorgegenem HTML (<code>uebung-1/main.html</code>)
                        </ul>
                    </section>
                    <section>
                        <h3>Schritte #2: Bindungen und Controller</h3>
                        <ul>
                            <li class="fragment">Füge dem View <code>ng-model</code>-Attribute für alle Input-Felder und dem Formular eine <code>ng-submit</code>-Direktive hinzu
                            <li class="fragment">Erweitere den Controller <code>app/scripts/main.js</code> um die Methode, die du über <code>ng-submit</code> aufrufst
                            <li class="fragment">Rufe in dieser Methode den bereits eingebundenen Calculator auf
                            <li class="fragment">Übergib dabei dem Calculator die Werte aus dem Modell und schreibe das Ergebnis zurück ins Modell
                        </ul>
                    </section>
                </section>

                <section>
                <section>
                    <h3>DI</h3>
                    <ul>
                        <li class="fragment">Module, Controller und Services können sich Abhängigkeiten injizieren lassen
                        <li class="fragment">Injektion funktioniert über eine Übereinstimmung von Parameter und Name des zu injizierenden Objekts
                        <li class="fragment">Es gibt vom Framework definierte Objekte, die man injizieren kann
                        <li class="fragment">Eigene Objekte sind ebenso möglich
                    </ul>
                </section>
                    <!--
module.factory, module.service
https://groups.google.com/forum/#!msg/angular/56sdORWEoqg/b8hdPskxZXsJ
 -->
                <section>
                    <h3>Factory</h3>
                    <ul>
                        <li class="fragment">Erzeugt über eine Funktion ein Objekt mit einem bestimmten Namen
                        <li class="fragment"><code>module.factory(name, $getFn)</code>
                        <li class="fragment"><code>name</code>: Name, üben man sich das Objekt/Service injizieren lassen kann
                        <li class="fragment"><code>$getFn</code>: Funktion, die das Objekt erzeugt
                    </ul>
                </section>
                    <section>
                        <h3>Beispiel</h3>
<pre><code class="javascript" contenteditable>CustomerApp.factory('myService', function() {
    var myService = new MyService();
    return myService;
});</code></pre>
                    </section>
                </section>
        <section>
            <section>
                <h3>Eigene Directiven</h3>
                <ul>
                    <li class="fragment">Neben den Standard-HTML-Erweiterungen kann man eigene Directives definieren
                    <li class="fragment">Dies erlaubt u.a. die Definition von eigenen Komponenten
                    <li class="fragment">Grundlage ist oft ein Template
                    <!--<li class="fragment">Directives teilen per Default den aktuellen Scope-->
                    <!--<li class="fragment">Über Isolate Scopes können Directives einen eigenen Child-Scope aufmachen-->
                    <!--<li class="fragment">Übergabe von Parametern aus aktuellem Scope als Wert oder Referenz möglich-->
                    <li class="fragment"><a href="http://docs.angularjs.org/guide/directive">http://docs.angularjs.org/guide/directive</a></li>
                </ul>
            </section>
                <section>
                    <h4>Beispiel</h4>
                    <p>Directive für das neue HTML-Element <code>ozRadio</code>, abstrakte Form eines Knopfs einer Radio-Box</p>
                    <pre class="fragment"><code class="javascript" contenteditable>&lt;oz-radio model="person.gender" group="gender" value="Male">&lt;/oz-radio></code></pre>
                        <pre class="fragment"><code class="javascript" contenteditable>CustomerApp.directive('ozRadio', function () {
    return {
        restrict: 'E',
        replace: true,
        template: '&lt;label class="radio">&lt;input type="radio"\
                            ng-model="model" name="{{group}}"\
                            value="{{value}}" required>{{value}}&lt;/label>',
        scope: {
            model:'=', // reference to same object
            group:'@', // textual copy
            value:'@' // textual copy
        }
    };

});
</code></pre>
                </section>
            <section>
                <h3>Eigene Directiven, Fortgeschritten</h3>
                <ul>
                    <li class="fragment">Template kann auch in einer eigenen Datei stehen (<code>templateUrl</code>)
                    <li class="fragment">Ausführen von JavaScript-Code ebenfalls möglich
                    <li class="fragment">Trennung in zwei Phasen: <code>compile / link</code> aus Performanz-Gründen
                    <li class="fragment">Compile-Phase: Wird einmal durchlaufen, man hat keinen Zugriff auf den Scope
                    <li class="fragment">Link-Phase: Wird bei jeder Verwendung durchlaufen, Zugriff auf
                    <ul>
                        <li class="fragment">den Scope
                        <li class="fragment">Element in der die Direktive steht und
                        <li class="fragment">die Attribute des Elements möglich
                    </ul>
                </ul>
            </section>
                <section>
                    <h4>Beispiel</h4>
                        <pre class="fragment"><code class="javascript" contenteditable>CustomerApp.directive('ozPopup', function () {
    return {
        restrict: 'E',
        // template displaying overlay when state is not consumed using
        // ng-if="state.isConsumed" and ng-click="hide()"
        templateUrl: 'popup.html',
        replace: true,
        scope: {
            text: '@',
            state: '='
        },
        link: function (scope, element, attrs) {
            scope.hide = function () {
                scope.state.isConsumed = true;
            };
        }
    };

});
</code></pre>
                </section>
        </section>
                <section>
                    <section>
                        <h3>Fortgeschrittene Übung: Services und Direktiven</h3>
                        <ul>
                            <li class="fragment">Baue den Calculator auf einen Angular-Service um
                            <li class="fragment">Lasse dir den Service im Controller injizieren und nutze ihn für die Berechnung
                            <li class="fragment">Minimiere die Wiederholungen im HTML durch Einführung von passenden Direktiven
                        </ul>
                    </section>
                </section>
                <!--<section>-->
                    <!--<section>-->
                        <!--<h2>Sicherheit</h2>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<h2>Bedrohung durch XSS: Cross-Site Scripting</h2>-->
                        <!--<ul>-->
                            <!--<li class="fragment">JavaScript-Code, der nicht zur Applikation gehört wird eingeschleust-->
                            <!--<li class="fragment">Dieser Code hat dieselben Rechte und kann auf dieselben Daten zugreifen wie die Applikation-->
                            <!--<li class="fragment">wie kann der Code eingeschleust werden?-->
                                <!--<ul>-->
                                    <!--<li class="fragment"><code>.innerHTML</code> (<code>.textContent</code>, <code>createElement/setAttribute</code> als Ersatz)-->
                                    <!--<li class="fragment">Attribute, die sich aus Strings zusammensetzen-->
                                    <!--<li class="fragment"><code>eval</code>-->
                                <!--</ul>-->
                            <!--</li>-->

                        <!--</ul>-->
                    <!--</section>-->

                    <!--<section>-->
                        <!--<h3>Entwerten von Modell-Werten</h3>-->
                        <!--<ul>-->
                            <!--<li class="fragment"><code>ng-bind</code> und <code>{{...}}</code> entwerten HTML, um XSS zu verhindern-->
                            <!--<li class="fragment"><code>ng-bind-html</code> kann HTML darstellen, nutzt dazu <code>$sce.parseAsHtml</code>-->
                            <!--<li class="fragment"><a target="_blank" href="https://docs.angularjs.org/api/ng/service/$sce">https://docs.angularjs.org/api/ng/service/$sce</a>-->
                            <!--<li class="fragment"><code>$sce.parseAsHtml</code> schmeißt einen Fehler, wenn kein HTML-Sanitizer konfiguriert ist-->
                            <!--<li class="fragment"><a target="_blank" href="https://docs.angularjs.org/api/ngSanitize/service/$sanitize">https://docs.angularjs.org/api/ngSanitize/service/$sanitize</a>-->
                            <!--<li class="fragment">mit <code>$sce.trustAsHtml</code> kann beliebiger HTML-Code dargestellt werden-->
                        <!--</ul>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<h3>Beispiele</h3>-->
                        <!--<ul>-->
                            <!--<li class="fragment"><a target="_blank" href="code/angular/html-bind/no-sanitze.html">Code ohne das Sanitize-Modul</a>-->
                            <!--<li class="fragment"><a target="_blank" href="code/angular/html-bind/sanitze.html">Code mit dem Sanitize-Modul</a>-->
                            <!--<li class="fragment"><a target="_blank" href="https://code.google.com/p/mustache-security/wiki/AngularJS">kritische Betrachtung von Angular-Security ...</a>-->
                            <!--<li class="fragment"><a target="_blank" href="https://docs.google.com/document/d/1epha4VgFZVvauFJb2Tx_3NJlb3D91PjyZuO5YNAMX0M/edit">... und die Antwort des AngularJS-Projektleiters darauf</a>-->

                        <!--</ul>-->
                    <!--</section>-->
                <!--</section>-->

                <section>
                    <section>
                        <h2>Interna und Performance</h2>
                        <ul>
                            <li class="fragment">Funktionsweise des Bindings
                            <li class="fragment">Implikationen für Performance
                            <li class="fragment">Links
                                <ul>
                                    <li class="fragment"><a target="_blank" href="https://docs.angularjs.org/guide/scope">https://docs.angularjs.org/guide/scope</a>
                                    <li class="fragment"><a target="_blank" href="http://stackoverflow.com/questions/9682092/databinding-in-angularjs">http://stackoverflow.com/questions/9682092/databinding-in-angularjs</a>
                                </ul>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h3>Funktionsweise des Bindings</h3>
                        <ul>
                            <li class="fragment">Für jeden gebundenen Wert in einem Template wird <code>$watch</code> angelegt
                            <li class="fragment">Solch ein <code>$watch</code> ruft einen Listener auf, sobald sich ein angegebener Ausdruck verändert
                            <li class="fragment">Beispiel. für <code>"{{greeting.text}}, World!"</code> in "Hello, World"
                                <ul>
                                    <li class="fragment">Auf dem Ausdruck <code>"{{greeting.text}}, World!"</code> wird ein <code>$watch</code> angelegt
                                    <li class="fragment">Sobald sich der Ausdruck verändert, wird dieser Teil des DOMs mit dem Ergebnis des Ausdruck aktualisiert
                                </ul>
                            </li>
                            <li class="fragment">Ob sich ein Ausdruck verändert hat, wird über den
                                <a target="_blank" href="https://docs.angularjs.org/api/ng/function/angular.equals">Vergleich</a> mit dem
                                <a target="_blank" href="https://docs.angularjs.org/api/ng/function/angular.copy">vorherigen Wert</a> ermittelt (Dirty-Checking)
                        </ul>
                    </section>
                    <section>
                        <h3><code>$digest</code>-Zyklus</h3>
                        <ul>
                            <li class="fragment">Nach jeder von Angular gesteuerten Interaktion (System oder User) wird ein
                                <a target="_blank" href="https://docs.angularjs.org/guide/scope"><code>$digest</code>-Zyklus</a> angeworfen
                            <li class="fragment">In solchen Interaktionen können sich Modell-Werte verändert haben, von denen <code>$watch</code>-Ausdrücke abhängen
                            <li class="fragment">Daher werden alle Watcher überprüft und ggfs. akvitiert
                            <li class="fragment">Da ein Watch-Listener selbst wieder Modell-Werte ändern kann, wird der Prozess wiederholt, bis es keine Änderungen mehr gibt
                            <li class="fragment">Mit <a target="_blank" href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$apply">$apply</a> kann der Zyklus gezielt gestartet werden
                            <li class="fragment">Dies kann notwendig sein, wenn man außerhalb von Angular Modell-Werte ändert
                            <li class="fragment">Mit <a target="_blank" href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$watch">$watch</a> kann man eigene Listener registrieren
                        </ul>
                    </section>
                    <section>
                        <h3>Implikationen für Performance</h3>
                        <ul>
                            <li class="fragment">Schon Reaktionszeiten über 50 ms lassen eine Anwendung zäh wirken
                            <li class="fragment">Daher sollten auch ein <code>$digest</code>-Zyklus nicht zu lange dauern
                            <li class="fragment">Mögliche Optimierungen
                                <ul>
                                    <li class="fragment">Wenige <code>$watch</code>-Ausdrücke (nichts im DOM haben, was nicht angezeigt wird)
                                    <li class="fragment">Lieber Elemente löschen, als sie unsichtbar machen (z.B. <code>ng-if</code> anstatt <code>ng-show</code>)
                                    <li class="fragment"><code>$watch</code>-Ausdrücke nicht zu komplex machen (Ergebnisse komplexer Berechnungsfunktionen cachen)
                                </ul>
                            </li>
                        </ul>
                    </section>
                </section>
<section>
    <h2>RESTFul Web Services</h2>
    <p>REST = Representational State Transfer</p>

</section>
<section>
    <h3>Eigenschaften</h3>
    <p class="fragment">Es gibt keine klare Definition, aber dies sind Eigenschaften, die die meisten darunter subsumieren</p>
    <ul>
        <li class="fragment">basiert auf HTTP / HTTPS
        <li class="fragment">Stateless
        <li class="fragment">Cachebar
        <li class="fragment">HTTP-Methoden PUT / GET / POST / DELETE werden für CRUD genommen
        <li class="fragment">Wenn möglich werden Aufrufparameter in der URL kodiert
        <li class="fragment">Oft URL Pfad auf eine bestimmte Ressource
        <li class="fragment">JSON bevorzugtes Format für komplexe Daten, XML geht auch
    </ul>

</section>
<section>
    <h2>Beispiel</h2>
    <p class="fragment">RESTFul Aufruf mit <code>GET</code>, z.B.</p>
    <pre class="fragment"><code class="html" contenteditable>https://mortgage-demo.appspot.com/mortgage_calculator/rs/200000/10/7.5/30</code></pre>
    <p class="fragment">Aufrufparameter sind in die URL codiert, Service zustandslos.</p>
    <p class="fragment">Antwort als JSON</p>
    <pre class="fragment"><code class="html" contenteditable>{"principle": "199990.00", "total": "503409.60", "payments": "360", "monthly": "1398.36"}</code></pre>
    <p class="fragment">Aufruf mit Pfad auf Ressource, z.B. <code>DELETE</code></p>
    <pre class="fragment"><code class="html" contenteditable>https://accounting.com/user/4711</code></pre>
    <p class="fragment">Antwort Status Code 204 (No content)</p>
</section>

            <section>
                <section>
                    <h2>REST-Calls in Angular</h2>
                </section>
                <section>
                    <h3>Resourcen</h3>
                    <ul>
                        <li class="fragment">Über der Service <code>$resource</code> kann man eine Resource für einfache Interaktionen mit REST-Services definieren
                        <li class="fragment">Man gibt dafür nur die URL plus Platzhalter für Parameter an
                        <li class="fragment">Beispiel <code>$resource(server
                           + '/customer/:id/:name/:age/:gender');</code>
                        <li class="fragment">Zur Benutzung muss das Modul <code>ngResource</code> eingebunden werden
                    </ul>
                </section>
                <section>
                    <h3>Aufruf</h3>
                    <ul>
                        <li class="fragment">Für CRUD gibt es die passenden Methoden, die automatisch auf REST-Calls umgesetzt werden
                        <li class="fragment">Beim Aufruf können die Platzhalter mit Werten ersetzt werden
                        <li class="fragment">Beispiel <pre><code>var CustomerResource = $resource(server
    + '/customer/:id/:name/:age/:gender');
var resource = CustomerResource.get({
    id: 4711,
    name: 'Olli'
});</code></pre>
                    </ul>
                    <li class="fragment">Angular erlaubt, eine solche Resource wie ein einfaches Objekt zu verwenden (trotz asynchroner Natur)
                </section>
            </section>

            <!--<section>-->
                <!--<section>-->
                    <!--<h3>Tests</h3>-->
                    <!--<p class="fragment">AngularJS unterstützt zwei Arten von Tests</p>-->
                    <!--<ul>-->
                        <!--<li class="fragment">Unit-Tests mit Jasmine und Mocks-->
                        <!--<li class="fragment">End-To-End-Tests, die Klicks im Browser simulieren und abfragen - Stil wie bei Jasmine-->
                    <!--</ul>-->
                <!--</section>-->

                <!--<section>-->
                    <!--<h3>Unit-Tests</h3>-->
                    <!--<ul>-->
                        <!--<li class="fragment">Grundsätzlich normale Jasmine-Tests mit normalem Jasmine-Runner-->
                        <!--<li class="fragment">Können einzelne Abschnitte/Aspekte der Anwendung testen (Unit-Tests)-->
                        <!--<ul>-->
                            <!--<li>Controller-->
                            <!--<li>Directiven-->
                            <!--<li>Filter-->
                            <!--<li>Services-->
                        <!--</ul>-->
                        <!--<li class="fragment">Angular-Bibliothek bietet Code für Initialisierung und DI-->
                    <!--</ul>-->
                <!--</section>-->
                    <!--<section>-->
                        <!--<h4>Beispielcode</h4>-->
                        <!--<p>Test für den Haupt-Controller mit Injektion der notwendigen Services und des <code>$controller</code>-Services zum Erzeugen von Controllern</p>-->
                        <!--<pre><code class="javascript" contenteditable>describe('MainCtrl', function(){-->
  <!--beforeEach(module('CustomerApp'));-->

  <!--it('should hold persons',-->
        <!--inject(function($rootScope, $controller) {-->
      <!--var scope = $rootScope.$new();-->
      <!--var mockCustomerResource = {-->
          <!--query: function() {}-->
      <!--};-->
      <!--var ctrl = $controller('MainCtrl', {-->
        <!--$scope: scope,-->
        <!--CustomerResource: mockCustomerResource-->
      <!--});-->
      <!--expect(scope.persons).toBeDefined();-->
  <!--}));-->
<!--});</code></pre>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<h3>End-To-End-Tests</h3>-->
                        <!--<ul>-->
                            <!--<li class="fragment">Sehen aus wie Jasmine-Tests, sind aber keine-->
                            <!--<li class="fragment">Nutzen <code>Angular Scenario</code> als Runner und Bibliothek-->
                            <!--<li class="fragment">Können Notwendigkeit von Selenium-Tests reduzieren-->
                        <!--</ul>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<h4>Beispielcode</h4>-->
                        <!--<p>Test, dass bei der Navigation zum Main-View die richtige Seite angezeigt wird</p>-->
                        <!--<pre><code class="javascript" contenteditable>describe('view main', function() {-->

<!--beforeEach(function() {-->
  <!--browser().navigateTo('#/main');-->
<!--});-->

<!--it('should render main when user navigates to /main', function() {-->
  <!--expect(element('[ng-view] h2:first').text()).-->
    <!--toMatch(/Customer Management/);-->
<!--});-->

<!--});-->
<!--</code></pre>-->
                    <!--</section>-->

                <!--</section>-->
                <section>
                    <section>
                        <h3>Fortgeschrittene Übung: DI und Resourcen</h3>
                        <ul>
                            <li class="fragment">Lege eine Resource an, die mit dem REST-Server (z.B. https://mortgage-demo.appspot.com/mortgage_calculator/rs/200000/10/7.5/30) kommuniziert
                            <li class="fragment">Nutze die Methode <code>get</code>, um die Resource anzusprechen
                            <li class="fragment">Erstelle in einer weiteren Datei einen zweiten Berechnungsservice, der diese Resource benutzt
                            <li class="fragment">Dieser Service soll so heißen wie der erste Berechnungsservice
                            <li class="fragment">Binde in <code>index.html</code> entweder den einen oder den anderen Berechnungsservice ein
                            <li class="fragment">Je nachdem welchen du eingebunden hast, wird der eine oder andere Service im Controller injiziert
                        </ul>
                    </section>
                </section>

            </div>

		</div>

		<script src="../reveal.js/lib/js/head.min.js"></script>
		<script src="../reveal.js/js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/../reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

				// Optional libraries used to extend on ../reveal.js
				dependencies: [
					{ src: '../reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '../reveal.js/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '../reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '../reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
